<template>
  <el-dialog
    :title="pos ? 'New pos user' : editMode ? 'Edit User' : 'New User'"
    :visible="show"
    :close-on-click-modal="!loading"
    :close-on-press-escape="!loading"
    :show-close="!loading"
    @close="close"
  >
    <el-form :model="form">
      <el-form-item label="Name">
        <el-input v-model="form.fullname" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model="form.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Password" v-if="pos">
        <el-input
          type="password"
          v-model="form.password"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="Address" v-if="!pos">
        <el-input v-model="form.address" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item v-if="!editMode && !pos">
        <el-checkbox v-model="form.auto_generate_number"
          >Auto Generate Number</el-checkbox
        >
      </el-form-item>
      <el-form-item v-if="!form.auto_generate_number && !editMode && !pos">
        <el-checkbox v-model="form.custom_number">Custom Number</el-checkbox>
      </el-form-item>
      <el-form-item
        label="Card Number"
        v-if="!form.auto_generate_number && !editMode && !pos"
      >
        <CardSerial
          v-model="form.card_number"
          :value="form.card_number"
          :custom="form.custom_number"
          :prefix="1000"
        ></CardSerial>
      </el-form-item>
      <el-form-item label="Valid Thru" v-if="!editMode && !pos">
        <div class="el-input">
          <el-date-picker
            class="w-100"
            v-model="valid_thru"
            type="date"
            placeholder="Valid Thru"
          ></el-date-picker>
        </div>
      </el-form-item>
      <el-form-item label="Mobile" v-if="!pos">
        <el-input v-model="form.mobile" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Mobile 2" v-if="!pos">
        <el-input v-model="form.mobile2" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="Membership" v-if="!editMode && !pos">
        <CardTypeSelector
          v-model="form.card_type_id"
          :selected="form.card_type_id"
          :multiple="false"
        ></CardTypeSelector>
      </el-form-item>
      <el-form-item
        label="Packages"
        v-if="packages.length && !editMode && !pos"
      >
        <p v-if="loadingPackages">Loading Packages</p>

        <div v-else>
          <el-radio
            v-model="form.package_id"
            :label="p.id"
            v-for="p in packages"
            :key="p.id"
            >{{ p.name }}</el-radio
          >
        </div>
      </el-form-item>
      <el-form-item v-if="!pos">
        <strong>Cars</strong>
        <CarTypeSelector
          v-for="(carType, index) in carTypes"
          :key="index"
          :value="carType"
          @make="(id) => (carType.make_id = id)"
          @model="(id) => (carType.model_id = id)"
          @year="(year) => (carType.make_year = year)"
          @remove="removeCar(index)"
        ></CarTypeSelector>

        <el-button block style="margin-top: 10px" @click="addCar"
          >Add Car</el-button
        >
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close" :disabled="loading">Cancel</el-button>
      <el-button type="primary" @click="process" :loading="loading">{{
        button_label
      }}</el-button>
    </span>
  </el-dialog>
</template>


<script>
import { create, update } from "@/api/user";
// import CategorySelector from "@/components/common/CategorySelector.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
import CardSerial from "@/components/CardSerial.vue";
import request from "@/utils/request";
import CarTypeSelector from "@/components/MultiCarTypeSelector.vue";

export default {
  components: {
    // CategorySelector,
    CardTypeSelector,
    CarTypeSelector,
    CardSerial,
  },
  props: {
    editMode: {
      type: Boolean,
      default: false,
    },
    merchant: {
      type: Object,
    },
    show: {
      type: Boolean,
      default: false,
    },
    pos: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      form: {
        fullname: "",
        email: "",
        card_type_id: null,
        package_id: null,
        card_number: "",
        auto_generate_number: true,
        custom_number: false,
        pos: this.pos,
        password: "",
        mobile: "",
        mobile2: "",
        address: "",
      },
      logo: null,
      logoDirty: false,
      categories: [],
      cards: [],
      carTypes: [{ make_id: null, model_id: null, make_year: null }],
      valid_thru: null,
      loadedCategories: [],
      loadedCards: [],
      packages: [],
      loadingPackages: false,
    };
  },
  watch: {
    merchant: {
      handler: function (merchant) {
        if (this.editMode && merchant) {
          Object.keys(this.form).forEach((key) => {
            if (key === "categories") {
              this.loadedCategories = merchant["categories"];

              this.form[key] = merchant["categories"].map((cat) => cat.id);
            } else {
              this.form[key] = merchant[key];
            }
          });

          this.carTypes = merchant.vehicles.map((car) => {
            return {
              make_id: car.pivot.make_id,
              model_id: car.pivot.model_id,
              make_year: car.pivot.make_year,
            };
          });

          this.logo = { url: merchant.avatar };
        }
      },
      immediate: true,
    },
    "form.card_type_id": function () {
      this.getPackages();
    },
  },
  mounted() {
    this.logoDirty = !this.editMode;
  },
  computed: {
    button_label() {
      if (this.editMode) {
        return this.loading ? "Editing..." : "Edit";
      }

      return this.loading ? "Creating" : "Create";
    },
  },
  methods: {
    getPackages() {
      this.loadingPackages = true;
      request({
        url: `/packages/card-types?card_type_id=${this.form.card_type_id}`,
        method: "get",
      }).then((data) => {
        this.loadingPackages = false;

        this.packages = data;
      });
    },
    close() {
      this.$emit("closed");
    },
    setLogo(logo) {
      this.logoDirty = true;

      this.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw),
      };
    },
    addCar() {
      this.carTypes.push({ make_id: null, model_id: null, make_year: null });
    },
    removeCar(index) {
      this.carTypes.splice(index, 1);
    },
    removeLogo() {
      this.logo = null;
    },
    process() {
      this.loading = true;
      this.editMode ? this.update() : this.create();
    },
    async update() {
      // let logo = this.merchant.avatar;

      // if (this.logoDirty) {
      //   logo = await this.uploadLogo();
      // }

      const categories = this.categories.join(",");

      const requestData = {
        ...this.form,
        carTypes: this.carTypes,
      };

      update(this.merchant.id, requestData)
        .then((data) => {
          this.close();

          this.$emit("updated", {
            vehicles: this.carTypes.map((car) => {
              return { pivot: car };
            }),
            ...requestData,
            id: this.merchant.id,
          });

          this.loading = false;

          this.$message({
            message: "User Updated",
            type: "success",
          });
        })
        .catch((_) => {
          this.loading = false;
        });
    },
    async uploadLogo() {
      const ref = this.$firebase
        .storage()
        .child(`merchants/logos/${this.logo.name}`);

      await ref.put(this.logo.raw);

      return await ref.getDownloadURL();
    },
    async create() {
      // const categories = this.categories.join(",");

      const requestData = {
        ...this.form,
        carTypes: this.carTypes,
        valid_thru: this.valid_thru,
      };

      // if (this.logo) {
      //   const logo = await this.uploadLogo();

      //   requestData["avatar"] = logo;
      // }

      create(requestData)
        .then((data) => {
          data.merchants_count = 0;

          this.$emit("created", data);

          this.loading = false;

          this.close();

          this.$message({
            message: "New user Added",
            type: "success",
          });
        })
        .catch((_) => {
          this.loading = false;
        });
    },
  },
};
</script>