<template>
  <div class="app-container">

    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
          <el-col :span="6" class="text-right">
            <el-button type="primary" @click="showNewMerchant = true">New POS</el-button>
          </el-col>
        </el-row>
        <el-row class="mt-2" :gutter="20">
          <el-col :span="10">
            <el-input
              :placeholder="'Search By ' + search.key"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="Name" value="name"></el-option>
                <el-option label="Email" value="email"></el-option>
              </el-select>
              <el-button slot="append" icon="el-icon-search" @click="next"></el-button>
            </el-input>
          </el-col>

        </el-row>
      </div>

      <el-table
        stripe
        :data="users"
        style="width: 100%"
        v-loading="loadingDate"
        @sort-change="changeSort"
      >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="avatar">
          <template slot-scope="scope">
            <el-image style="width: 100px; height: 100px" :src="scope.row.avatar" lazy>
              <div slot="error" class="image-slot">
                <img src="@/assets/images/logo.png" alt />
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column property="fullname" label="Name" sortable></el-table-column>
        <el-table-column property="email" label="Email"></el-table-column>
        <el-table-column label="Actions" fixed="right" width="250">
          <template slot-scope="scope">
            <el-button
              @click="currentEditMerchant = scope.row"
              type="primary"
              icon="el-icon-edit"
              style="width:50%"
            >Edit</el-button>
            <el-button @click="deleteUSer(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <CreateUpdateForm
      v-if="showNewMerchant"
      :edit-mode="false"
      :show="showNewMerchant"
      :pos="true"
      @closed="showNewMerchant = false"
      @created="addNewMerchant"
    ></CreateUpdateForm>

    <CreateUpdateForm
      v-if="currentEditMerchant != null"
      :edit-mode="true"
       :pos="true"
      :merchant="currentEditMerchant"
      :show="currentEditMerchant != null"
      @closed="currentEditMerchant = null"
      @updated="updateObject"
    ></CreateUpdateForm>

  </div>
</template>

<script>
import { get, remove, block, unlock, addSos, removeSos } from "@/api/user";
import CreateUpdateForm from "@/components/Forms/users/CreateUpdateForm.vue";

export default {
  components: {
    CreateUpdateForm
  },
  data() {
    return {
      users: [],
      selected: [],
      total: 0,
      loadingDate: true,
      showNewMerchant: false,
      currentEditMerchant: null,
      filterByCardType: [],
      search: {
        key: "name",
        value: ""
      },
      orderBy: {
        key: "",
        order: ""
      },
      filterByCategories: [],
      filters: {
        with: "carTypes",
        paginate: 10,
        page: 1,
        pos:true
      },
      showNewCard: false,
      currentUser: {}
    };
  },
  watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    },

    filterByCategories() {
      this.next();
    },
    filterByCardType() {
      this.next();
    }
  },
  mounted() {},
  methods: {
    addCard(user) {
      this.currentUser = user;
      this.showNewCard = true;
    },
    next() {
      const filters = {
        ...this.filters
      };

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }
      if (this.orderBy.key != "") {
        filters.orderBy = this.orderBy.key + "," + this.orderBy.order;
      }
      if (this.filterByCategories.length) {
        filters.filterByCategory = this.filterByCategories.join(",");
      }

      if (this.filterByCardType.length) {
        filters.filterByCardType = this.filterByCardType.join(",");
      }

      this.loadingDate = true;
      get(filters).then(({ total, data, current_page }) => {
        this.users = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    changeSort(e) {
      this.orderBy.key = e.prop;
      this.orderBy.order = e.prop.order === "descending" ? "desc" : "asc";

      this.next();
    },

    handleSelectionChange(e) {
      this.selected = e;
    },
    addNewMerchant(merchant) {
      this.users.unshift(merchant);
    },
    deleteUSer(merchant) {
      this.$confirm(`Are You Sure to delete ${merchant.fullname} user?`)
        .then(_ => {
          this.$message({
            message: "user has been deleted",
            type: "success"
          });

          this.users.splice(this.users.indexOf(merchant), 1);

          remove(merchant.id);
        })
        .catch(_ => {});
    },
    deleteAllUsers() {
      this.$confirm(`Are You Sure to delete all selected users ?`)
        .then(_ => {
          this.$message({
            message: "Users have been deleted",
            type: "success"
          });

          this.selected.forEach(merchant => {
            this.users.splice(this.users.indexOf(merchant), 1);

            remove(merchant.id);
          });
        })
        .catch(_ => {});
    },
    addToSos() {
      this.$confirm(`Are You Sure to add all selected users to SOS ?`)
        .then(_ => {
          this.$message({
            message: "Users have been added To SOS",
            type: "success"
          });

          const ids = this.selected.map(d => d.id);

          this.selected.forEach(merchant => {
            merchant.sos = true;
          });

          addSos(ids);
        })
        .catch(_ => {});
    },
    removeFromSos() {
      this.$confirm(`Are You Sure to delete all selected users from SOS ?`)
        .then(_ => {
          this.$message({
            message: "Users have been removed from SOS",
            type: "success"
          });

          const ids = this.selected.map(d => d.id);

          this.selected.forEach(merchant => {
            merchant.sos = false;
          });

          removeSos(ids);
        })
        .catch(_ => {});
    },
    toggleBlock(user) {
      const x = user.is_blocked ? " Unblocked" : " Blocked";

      this.$message({
        message: "user has been " + x,
        type: "success"
      });

      user.is_blocked = !user.is_blocked;
      block(user);
    },

    unLock(user) {
      this.$message({
        message: "user has been unlocked",
        type: "success"
      });

      unlock(user);
    },

    updateObject(updatedMerchant) {
      const cat = this.users[
        this.users.findIndex(merchant => merchant.id === updatedMerchant.id)
      ];

      debugger;
      Object.keys(cat).forEach(key => {
        if (cat.hasOwnProperty(key) && updatedMerchant.hasOwnProperty(key)) {
          cat[key] = updatedMerchant[key];
        }
      });
    }
  }
};
</script>

<style >
.pac-container {
  z-index: 9999 !important;
}
.vue-map-container {
  height: 300px;
  margin-top: 20px;
}

.merchant-select .el-input {
  width: 110px;
}
</style>