<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-table stripe :data="cards" style="width: 100%" v-loading="loadingDate">
        <el-table-column label="Requested On">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ (new Date(scope.row.created_at)).toLocaleString() }}
          </template>
        </el-table-column>
        <el-table-column label="Membership">
          <template slot-scope="scope">{{ scope.row.card_type.name }}</template>
        </el-table-column>
        <el-table-column label="Payment Method">
          <template
            slot-scope="scope"
          >{{ scope.row.payment_method === 'cod' ? 'Cash On Delivery' : 'Credit Card' }}</template>
        
        </el-table-column>
        <el-table-column label="Recieve Method">
          <template
            slot-scope="scope"
          >{{ scope.row.receive_type }}</template>
        </el-table-column>
        <el-table-column label="Address">
          <template slot-scope="scope">{{ scope.row.address }}</template>
        </el-table-column>

        <el-table-column label="User">
          <template slot-scope="scope">

              <el-button
                type="text"
                @click.prevent="showUser = scope.row"
              >{{ scope.row.user.fullname }}</el-button>
          </template>
        </el-table-column>

        <el-table-column label="Delivery Option">
          <template slot-scope="scope">
                        <el-select
    :value="scope.row.receive_type"
    class="w-100"
    @change="e => changeDelivery(e , scope.row)"
  >
    <el-option
      v-for="status in ['delivery' , 'pos']"
      :key="status"
      :label="status"
      :value="status"
    ></el-option>
  </el-select>
          </template>
        </el-table-column>
                <el-table-column label="Payment Status">
          <template slot-scope="scope">

                 <el-select
    :value="scope.row.paid"
    class="w-100"
    @change="e => changePayment(e , scope.row)"
  >
    <el-option
      v-for="status in ['paid' , 'not_paid']"
      :key="status"
      :label="status"
      :value="status"
    ></el-option>
  </el-select>

          </template>
        </el-table-column>

        <el-table-column label="Actions" width="300">
          <template slot-scope="scope">
            <el-button @click="createcard(scope.row)" type="success" icon="el-icon-check" circle></el-button>
            <el-button @click="deletecard(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
            <el-button @click="createcard(scope.row , true)" 
            v-if="scope.row.receive_type === 'pos' && !scope.row.moved_to_pos_at">
              Move To Pos
            </el-button>
            <span style="color:green;font-weight:bold;margin-left:1rem;" v-if="scope.row.receive_type === 'pos' && scope.row.moved_to_pos_at">
               Moved To POS
            </span>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <create
      v-if="showNewCard"
      :show="showNewCard"
      @closed="showNewCard = false"
      @created="removeRequest"
      :user="currentUser"
      :user-card="currentCardType"
      :user-package="currentPackage"
      :request-id="currentRequest.id"
      :pos="pos"
      @posed="changePos"
    ></create>

    <el-dialog
      :title="showUser.user.fullname"
      v-if="showUser"
      :visible="showUser != null"
      @close="showUser = null"
    >
      <h3>Mobile</h3>
      <p>{{ showUser.user.mobile ? showUser.user.mobile : "--" }}</p>
      <hr />
      <h3>Mobile2</h3>
      <p>{{ showUser.user.mobile2 ? showUser.user.mobile2 : "--" }}</p>
      <hr />
      <h3>Telephone</h3>
      <p>{{ showUser.user.telephone ? showUser.user.telephone : "--" }}</p>
      <hr />
      <h3>Email</h3>
      <p>{{ showUser.user.email ? showUser.user.email : "--" }}</p>
      <hr />
      <h3>Car Type</h3>
      <p>{{ showUser.car_type ? showUser.car_type : "--" }}</p>
      <hr />
      <h3>Address</h3>
      <p>{{ showUser.address ? showUser.address : "--"}}</p>
      <hr />
      <h3>Job</h3>
      <p>{{ showUser.user.job ? showUser.user.job : "--" }}</p>
      <hr />
    </el-dialog>
  </div>
</template>

<script>
import { get, remove , updateDelivery , updatePayment } from "@/api/card-request";

import Create from "@/components/Forms/card/Create.vue";

export default {
  components: {
    Create
  },
  data() {
    return {
      cards: [],
      total: 0,
      loadingDate: true,
      showNewCard: false,
      currentUser: null,
      currentRequest: null,
      currentCardType: null,
      currentPackage: null,
      pos:false,
      filters: {
        with: "cardType,package,user",
        paginate: 10,
        page: 1
      },
      showUser: null
    };
  },
    watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.cards = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    showEditDialog(card) {
      this.editCard.card = this.clone(card);

      this.editCard.show = true;
    },
    sendEditCard() {
      this.editCard.loading = true;

      update(this.editCard.card.id, {
        name: this.editCard.card.name
      })
        .then(data => {
          this.updateObject();

          this.editCard.loading = false;
          this.editCard.show = false;

          this.$message({
            message: "Card Updated",
            type: "success"
          });
        })
        .catch(_ => {
          this.editCard.loading = false;
          this.editCard.show = false;
        });
    },
    deletecard(card) {
      this.$confirm(`Are You Sure to delete ${card.name} card request?`)
        .then(_ => {
          this.$message({
            message: "request has been deleted",
            type: "success"
          });

          this.cards.splice(this.cards.indexOf(card), 1);

          remove(card.id);
        })
        .catch(_ => {});
    },
    removeRequest(request) {
      const index = this.cards.findIndex(card => card.id === request.id);
      this.cards.splice(index, 1);
    },
    changeDelivery(e , request){
  request.receive_type = e;

  if(e == 'delivery'){
    request.moved_to_pos_at = null;
  }

       updateDelivery({id : request.id , receive_type:e});

       
          this.$message({
            message: "Request Delivery Option Updated",
            type: "success"
          });
    },
    changePayment(e , request){
  request.paid = e;

       updatePayment({id : request.id , paid:e});

       
          this.$message({
            message: "Request Payment Status Updated",
            type: "success"
          });
    },
    changePos(data){
      
      const request = this.cards.find(c => c.id == data.request_id);

      if(request){
        request.moved_to_pos_at = new Date();
      }
    },
    createcard(request , pos = false) {
      this.pos = pos;


      this.currentRequest = request;

      this.currentUser = request.user;
      this.currentCardType = {
        card_type: request.card_type,
        package: request.package
      };
      this.currentPackage = request.package;

      this.showNewCard = true;

    },
    updateObject() {
      const cat = this.cards[
        this.cards.findIndex(card => card.id === this.editCard.card.id)
      ];

      Object.keys(cat).forEach(key => {
        if (cat.hasOwnProperty(key) && this.editCard.card.hasOwnProperty(key)) {
          cat[key] = this.editCard.card[key];
        }
      });
    }
  }
};
</script>