<template>
  <div class="app-container">
    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
        </el-row>
        <el-row class="mt-2" :gutter="20">
          <el-col :span="12">
            <el-input
              :placeholder="'Search By ' + search.key"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="Pos Agent" value="pos_agent"></el-option>
                <el-option label="User" value="user"></el-option>
              </el-select>
              <el-button slot="append" icon="el-icon-search" @click="next"></el-button>
            </el-input>
          </el-col>
        </el-row>
      </div>
      <el-table stripe :data="sales" style="width: 100%" v-loading="loadingDate">
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ (new Date(scope.row.created_at)).toLocaleString() }}
          </template>
        </el-table-column>

        <el-table-column label="Agent">
          <template slot-scope="scope">{{ scope.row.pos_agent.fullname}}</template>
        </el-table-column>
        <el-table-column label="User">
          <template slot-scope="scope">{{ scope.row.user.fullname}}</template>
        </el-table-column>
        <el-table-column label="Card Number">
          <template slot-scope="scope">{{ scope.row.number}}</template>
        </el-table-column>
        <el-table-column label="Card Membership">
          <template slot-scope="scope">{{ scope.row.card_type.name}}</template>
        </el-table-column>
        <el-table-column label="Card Package">
          <template slot-scope="scope">{{ scope.row.package.name}}</template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
import { get } from "@/api/pos";

export default {
  data() {
    return {
      sales: [],
      total: 0,
      loadingDate: true,
      search: {
        key: "pos_agent",
        value: ""
      },
      filters: {
        with:"posAgent,user,package,cardType",
        paginate:10,
        page: 1
      }
    };
  },
  watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    next() {
      this.loadingDate = true;

      const filters = {
        ...this.filters
      };

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }
      get(filters).then(({ total, data, current_page }) => {

        this.sales = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    }
  }
};
</script>