<template>
  <el-dialog
    title="New User"
    :visible="show"
    :close-on-click-modal="!loading"
    :close-on-press-escape="!loading"
    :show-close="!loading"
    @close="close"
  >
    <el-form :model="form">
      <el-form-item label="Name">
        <el-input v-model="form.fullname" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model="form.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Password">
        <el-input v-model="form.password" type="password" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close" :disabled="loading">Cancel</el-button>
      <el-button type="primary" @click="process" :loading="loading">{{ button_label}}</el-button>
    </span>
  </el-dialog>
</template>


<script>
import { create, update } from "@/api/admins";
// import CategorySelector from "@/components/common/CategorySelector.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
import CardSerial from "@/components/CardSerial.vue";
import request from "@/utils/request";

export default {
  components: {
    // CategorySelector,
    CardTypeSelector,
    CardSerial
  },
  props: {
    editMode: {
      type: Boolean,
      default: false
    },
    merchant: {
      type: Object
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      loading: false,
      form: {
        fullname: "",
        email: "",
        card_type_id: null,
        package_id: null,
        card_number: ""
      },
      logo: null,
      logoDirty: false,
      categories: [],
      cards: [],
      loadedCategories: [],
      loadedCards: [],
      packages: [],
      loadingPackages: false
    };
  },
  watch: {
    merchant: {
      handler: function(merchant) {
        if (this.editMode && merchant) {
          Object.keys(this.form).forEach(key => {
            if (key === "categories") {
              this.loadedCategories = merchant["categories"];

              this.form[key] = merchant["categories"].map(cat => cat.id);
            } else {
              this.form[key] = merchant[key];
            }
          });

          this.logo = { url: merchant.avatar };
        }
      },
      immediate: true
    },
    "form.card_type_id": function() {
      this.getPackages();
    }
  },
  mounted() {
    this.logoDirty = !this.editMode;
  },
  computed: {
    button_label() {
      if (this.editMode) {
        return this.loading ? "Editing..." : "Edit";
      }

      return this.loading ? "Creating" : "Create";
    }
  },
  methods: {
    getPackages() {
      this.loadingPackages = true;
      request({
        url: `/packages/card-types?card_type_id=${this.form.card_type_id}`,
        method: "get"
      }).then(data => {
        this.loadingPackages = false;

        this.packages = data;
      });
    },
    close() {
      this.$emit("closed");
    },
    setLogo(logo) {
      this.logoDirty = true;

      this.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw)
      };
    },
    removeLogo() {
      this.logo = null;
    },
    process() {
      this.loading = true;
      this.editMode ? this.update() : this.create();
    },
    async update() {
      // let logo = this.merchant.avatar;

      // if (this.logoDirty) {
      //   logo = await this.uploadLogo();
      // }

      const categories = this.categories.join(",");

      const requestData = {
        ...this.form
      };

      update(this.merchant.id, requestData)
        .then(data => {
          this.close();

          this.$emit("updated", {
            ...requestData,
            id: this.merchant.id
          });

          this.loading = false;

          this.$message({
            message: "New Supplier Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.loading = false;
        });
    },
    async uploadLogo() {
      const ref = this.$firebase
        .storage()
        .child(`merchants/logos/${this.logo.name}`);

      await ref.put(this.logo.raw);

      return await ref.getDownloadURL();
    },
    async create() {
      // const categories = this.categories.join(",");

      const requestData = {
        ...this.form
      };

      // if (this.logo) {
      //   const logo = await this.uploadLogo();

      //   requestData["avatar"] = logo;
      // }

      create(requestData)
        .then(data => {
          data.merchants_count = 0;

          this.$emit("created", data);

          this.loading = false;

          this.close();

          this.$message({
            message: "New Admin Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.loading = false;
        });
    }
  }
};
</script>