<template>
  <el-input
    placeholder="Card Serial"
    :maxlength="custom ? 16 : 4"
    :value="value"
    @input="e => $emit('input' , e)"
  >
    <template
      slot="prepend"
      v-if="!custom"
    >{{ now.getFullYear()}} {{ ('0' + (now.getMonth() + 1)).slice(-2) }} {{ ('0' + now.getDate()).slice(-2) }} {{ prefix }}</template>
  </el-input>
</template>

<script>
export default {
  props: {
    value: {
      type: Number
    },
    prefix: {
      type: Number
    },
    custom: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    custom() {
      this.$emit("input", "");
    }
  },

  data() {
    return {
      now: new Date()
    };
  }
};
</script>