<template>
  <el-select
    :multiple="multiple"
    filterable
    reserve-keyword
    remote
    :value="selected"
    :remote-method="remoteMethod"
    class="w-100"
    @change="e => $emit('input' , e)"
  >
    <el-option
      v-for="carType in carTypes"
      :key="carType.name"
      :label="carType.name"
      :value="carType.id"
    ></el-option>
  </el-select>
</template>

<script>
import { get } from "@/api/car-type";

export default {
  props: {
    selected: {
      type: Array
    },
    loadedCarTypes: {
      type: Array,
      default: () => []
    },
    placholder: {
      type: String,
      default: ""
    },
    multiple: {
      type: Boolean,
      default: true
    },
    loadAll:{
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      carTypes: [],
      loading: false
    };
  },
  methods: {
    remoteMethod(query) {
      this.loading = true;

      get({ name: query, limit: this.loadAll ? 10000 : 10 }).then(data => {
        this.loading = false;
        this.carTypes = data;
      });
    }
  },
  mounted() {
    this.carTypes = this.loadedCarTypes;

    this.loadAll && this.remoteMethod('');
  }
};
</script>