<template>
  <div v-loading="loading" style="margin-bottom:3rem;">
    <el-upload
      ref="upload"
      class="upload-demo"
      drag
      :data="moreDate"
      :action="route"
      :on-success="success"
      :file-list="fileList"
      :auto-upload="false"
    >
      <i class="el-icon-upload"></i>
    </el-upload>

    <el-row :gutter="20">
      <el-col :span="10">
        <CardTypeSelector
          v-model="cards"
          :selected="cards"
          :multiple="false"
          placholder="Select Membership"
        ></CardTypeSelector>
      </el-col>
      <el-col :span="5">
        <el-upload
          action="#"
          class="avatar-uploader"
          :auto-upload="false"
          :multiple="false"
          :show-file-list="false"
          :on-change="setLogo"
          :on-remove="removeLogo"
          v-if="merchant"
        >
          <img v-if="logo" :src="logo.url" class="avatar" />
          <div v-else>
            <i class="el-icon-plus avatar-uploader-icon"></i>
            <p>Offer Cover</p>
          </div>
        </el-upload>
      </el-col>
      <el-col :span="2">
        <el-button type="primary" @click="submitUpload" :disabled="!canUpload">Import</el-button>
      </el-col>
      <el-col :span="2">
           <el-button type="primary" @click="submitExport" :disabled="cards == '' && merchant">Export</el-button>
      </el-col>
    </el-row>


  </div>

  <!-- 
      <div id="import" style="height: 200px;
    border: 1px dashed darkgrey;
    border-radius: 12px;
    margin: 30px;display: flex;
    align-items: center;
    justify-content: center;cursor:pointer;">
    
    <el-progress style="width: 70%;" v-if="isUploading && !completed" :text-inside="true" :stroke-width="24" :percentage="progress" status="success"></el-progress>
    <span v-else> Click To Select File</span>

    
  </div>-->
</template>


<script>
import resumable from "resumablejs";
import { getToken } from "@/utils/auth";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
import request from "@/utils/request";

export default {
  components: {
    CardTypeSelector
  },
  props: {
    api: {
      type: String
    },
    merchant: {
      default: false
    }
  },

  data() {
    return {
      importing: {},
      fileList: [],
      ready: false,
      completed: false,
      uploading: false,
      route: process.env.VUE_APP_BASE_API + this.api,
      cards: "",
      loading: false,
      logo: null,
      logoDirty: false,
      cover: null
    };
  },
  computed: {
    moreDate() {
      return {
        card_type: this.cards,
        cover: this.cover
      };
    },
    canUpload() {
    
        return this.cards != "";
     

    }
  },

  methods: {
    setLogo(logo) {
      this.logoDirty = true;

      this.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw)
      };
    },
    removeLogo() {
      this.logo = null;
    },
    async submitUpload() {
      this.loading = true;

      if (this.logo) {
        const logo = await this.uploadCover();

        this.cover = logo;

        this.$nextTick(() => {
          this.$refs.upload.submit();
        });
      } else {
        this.$refs.upload.submit();
      }
    },
    success() {
      this.loading = false;
      this.$message({
        message: "All Imported Successfully",
        type: "success"
      });

      this.$emit("imported");
    },
    async uploadCover() {
      const ref = this.$firebase
        .storage()
        .child(`offers/covers/${this.logo.name}`);

      await ref.put(this.logo.raw);

      return await ref.getDownloadURL();
    },
    submitExport() {
      request({
        method: "post",
        url: this.merchant ? "export/merchants" : "export/users",
        data:{card_type:this.cards},
        responseType: "blob"
      }).then(data => {
        const url = window.URL.createObjectURL(new Blob([data]));
        const link = document.createElement("a");
        link.href = url;

        const date = new Date().toDateString();
        link.setAttribute("download", (this.merchant ? "suppliers-" : "users-") + date + ".xlsx"); //or any other extension
        document.body.appendChild(link);
        link.click();
      });
    }
  },

  mounted() {
    // const importing= new Dropzone("#import", {
    //     url: process.env.VUE_APP_BASE_API + "users/import",
    //      chunking: true,
    //   method: "POST",
    //   maxFilesize: 400000000,
    //   chunkSize: 1000000,
    //   parallelChunkUploads: true,
    //   createImageThumbnails:false,
    //   headers: {
    //     Authorization : 'Bearer ' + getToken()
    //   }
    //   });
  }
};
</script>

<style >
.upload-demo {
  margin: 25px 0;
}
.el-upload-dragger,
.el-upload {
  width: 100%;
}
</style>