<template>
  <GmapMap
    :options="mapOptions"
    :center="center"
    :zoom="15"
    v-if="center.lat && center.lng"
    @click="e => $emit('clicked' , e)"
  >
    <GmapMarker :position="center" />
  </GmapMap>
</template>

<script>
export default {
  props: {
    center: {
      type: Object,
      default: () => {
        return { lat: null, lng: null };
      }
    }
  },
  data() {
    return {
      mapOptions: {
        mapTypeControl: false,
        fullscreenControl: false,
        streetViewControl: false,
        zoomControl: false,
        disableDefaultUi: false,
        clickableIcons: false
      }
    };
  }
};
</script>