<template>
  <el-row :gutter="6" style="margin-top: 10px">
    <el-col :span="6">
      <el-select
        filterable
        reserve-keyword
        remote
        :value="$attrs.value.make_id"
        :remote-method="getMakes"
        class="w-100"
        @change="emitMake"
        placeholder="Select Car Name"
      >
        <el-option
          v-for="make in makes"
          :key="make.name"
          :label="make.name"
          :value="make.id"
        ></el-option>
      </el-select>
    </el-col>
    <el-col :span="6">
      <el-select
        filterable
        reserve-keyword
        remote
        :value="$attrs.value.model_id"
        :remote-method="getModels"
        class="w-100"
        @change="(e) => $emit('model', e)"
        :disabled="!$attrs.value.make_id"
        placeholder="Select Car Model"
      >
        <el-option
          v-for="model in models"
          :key="model.name"
          :label="model.name"
          :value="model.id"
        ></el-option>
      </el-select>
    </el-col>
    <el-col :span="6">
      <el-select
        filterable
        reserve-keyword
        :value="$attrs.value.make_year"
        class="w-100"
        @change="(e) => $emit('year', e)"
        :disabled="!$attrs.value.model_id"
        placeholder="Select Car Model Year"
      >
        <el-option
          v-for="year in years"
          :key="year"
          :label="year"
          :value="year"
        ></el-option>
      </el-select>
    </el-col>
    <el-col :span="6" style="text-align: center">
      <el-button
        @click="$emit('remove')"
        type="danger"
        icon="el-icon-delete"
        circle
      ></el-button>
    </el-col>
  </el-row>
</template>

<script>
import { makes, models } from "@/api/car-type";

export default {
  props: {
    loadedCarTypes: {
      type: Array,
      default: () => [],
    },
    placholder: {
      type: String,
      default: "",
    },
    multiple: {
      type: Boolean,
      default: true,
    },
    loadAll: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      makes: [],
      models: [],
      years: [],
      loadingMakes: false,
      loadingModels: false,
    };
  },
  methods: {
    getMakes(query) {
      this.loadingMakes = true;

      return makes({ name: query }).then((data) => {
        this.loadingMakes = false;
        this.makes = data;
      });
    },
    getModels(query) {
      this.loadingModels = true;

      models({
        name: query,
        make_id: this.$attrs.value.make_id,
        limit: this.loadAll ? 10000 : 10,
      }).then((data) => {
        this.loadingModels = false;
        this.models = data;
      });
    },
    emitMake(e) {
      this.$emit("model", null);
      this.models = [];
      this.$emit("make", e);
    },
  },
  mounted() {
    // this.carTypes = this.loadedCarTypes;
    // this.loadAll && this.remoteMethod("");

    let currentYear = new Date().getFullYear(),
      years = [];
    let startYear = 1960;
    while (startYear <= currentYear) {
      years.push(startYear++);
    }
    this.years = years;

    if (this.$attrs.value.make_id && this.$attrs.value.model_id) {
      this.getMakes("");
      this.getModels("");
    }
  },
};
</script>