<template>
  <el-row :gutter="40" class="panel-group">
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <router-link to="suppliers" class="card-panel" @click="handleSetLineChartData('newVisitis')">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon
            icon-class="https://image.flaticon.com/icons/svg/679/679744.svg"
            class="card-panel-icon"
          />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Suppliers</div>
          <count-to :start-val="0" :end-val="merchants" :duration="2600" class="card-panel-num" />
        </div>
      </router-link>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <router-link to="sales" class="card-panel" @click="handleSetLineChartData('messages')">
        <div class="card-panel-icon-wrapper icon-message">
          <svg-icon
            icon-class="https://image.flaticon.com/icons/svg/1799/1799071.svg"
            class="card-panel-icon"
          />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Sales</div>
          <count-to :start-val="0" :end-val="sales" :duration="3000" class="card-panel-num" />
        </div>
      </router-link>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <router-link to="cards" class="card-panel" @click="handleSetLineChartData('purchases')">
        <div class="card-panel-icon-wrapper icon-money">
          <svg-icon
            icon-class="https://image.flaticon.com/icons/svg/633/633611.svg"
            class="card-panel-icon"
          />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Cards</div>
          <count-to :start-val="0" :end-val="cards" :duration="3200" class="card-panel-num" />
        </div>
      </router-link>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <router-link to="offers" class="card-panel" @click="handleSetLineChartData('shoppings')">
        <div class="card-panel-icon-wrapper icon-shopping">
          <svg-icon
            icon-class="https://image.flaticon.com/icons/svg/411/411756.svg"
            class="card-panel-icon"
          />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">Offers</div>
          <count-to :start-val="0" :end-val="offers" :duration="3600" class="card-panel-num" />
        </div>
      </router-link>
    </el-col>
  </el-row>
</template>

<script>
import countTo from "vue-count-to";
import { total as MerchantsTotal } from "@/api/merchants";
import { total as SalesTotal } from "@/api/sales";
import { total as CardsTotal } from "@/api/card";
import { total as OfferTotal } from "@/api/offer";
export default {
  components: {
    countTo
  },
  data() {
    return {
      merchants: 0,
      sales: 0,
      cards: 0,
      offers: 0
    };
  },
  created() {
    MerchantsTotal().then(total => (this.merchants = total));
    SalesTotal().then(total => (this.sales = total));
    CardsTotal().then(total => (this.cards = total));
    OfferTotal().then(total => (this.offers = total));
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.panel-group {
  margin-top: 18px;
  .card-panel-col {
    margin-bottom: 32px;
  }
  .card-panel {
    display: block;
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people {
        background: #40c9c6;
      }
      .icon-message {
        background: #36a3f7;
      }
      .icon-money {
        background: #f4516c;
      }
      .icon-shopping {
        background: #34bfa3;
      }
    }
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3;
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;
      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
</style>
