<template>
  <el-dialog
    :title="editMode ? 'Edit Supplier' : 'New Supplier'"
    :visible="show"
    :close-on-click-modal="!loading"
    :close-on-press-escape="!loading"
    :show-close="!loading"
    @close="close"
  >
    <el-form :model="form">
      <el-form-item label="Name">
        <el-input v-model="form.fullname" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model="form.email" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item v-if="!editMode">
        <el-checkbox v-model="form.auto_generate_number"
          >Auto Generate Serial</el-checkbox
        >
      </el-form-item>
      <el-form-item v-if="!form.auto_generate_number && !editMode">
        <el-checkbox v-model="form.custom_number">Custom Serial</el-checkbox>
      </el-form-item>
      <el-form-item label="Serial" v-if="!form.auto_generate_number">
        <CardSerial
          v-model="form.serial"
          :value="form.serial"
          :custom="form.custom_number"
          :prefix="9000"
          v-if="!editMode"
        ></CardSerial>

        <el-tag v-if="editMode && merchant">{{ merchant.serial }}</el-tag>
      </el-form-item>

      <el-form-item label="Job">
        <el-input v-model="form.job" autocomplete="off"></el-input>
      </el-form-item>

      <el-form-item label="Categories">
        <div class="el-input">
          <CategorySelector
            v-model="form.categories"
            :selected="form.categories"
            :loaded-categories="loadedCategories"
          ></CategorySelector>
        </div>
      </el-form-item>
      <el-form-item label="Memberships">
        <div class="el-input">
          <CardTypeSelector
            v-model="form.cards"
            :selected="form.cards"
            :loaded-card-types="loadedCards"
          ></CardTypeSelector>
        </div>
      </el-form-item>
      <el-form-item label="Car Types">
        <el-checkbox v-model="all_cars">All cars</el-checkbox>

        <CarTypeSelector
          v-if="!all_cars"
          v-model="carTypes"
          :selected="carTypes"
          :loaded-car-types="editMode ? merchant.car_types : []"
        ></CarTypeSelector>
      </el-form-item>
      <el-form-item label="Top Supplier ?">
        <el-checkbox v-model="form.top"></el-checkbox>
      </el-form-item>
      <el-form-item label="Brand ?">
        <el-checkbox v-model="form.brand"></el-checkbox>
      </el-form-item>

      <el-form-item label="Open Times (Optional)">
        <el-table :data="form.times" style="width: 100%">
          <el-table-column prop="day" label="Date">
            <template slot-scope="scope">
              {{ days[scope.row.day] }}
            </template>
          </el-table-column>
          <el-table-column prop="from" label="From" width="300">
            <template slot-scope="scope">
              <el-time-select
                v-model="scope.row.from"
                :picker-options="{
                  start: '00:00',
                  step: '00:30',
                  end: '23:30',
                }"
                placeholder="Select time"
                value-format="HH:mm"
              >
              </el-time-select>
            </template>
          </el-table-column>
          <el-table-column prop="to" label="To" width="300">
            <template slot-scope="scope">
              <el-time-select
                v-model="scope.row.to"
                :picker-options="{
                  start: scope.row.from,
                  step: '00:30',
                  end: '23:30',
                }"
                :disabled="!scope.row.from"
                placeholder="Select time"
                value-format="HH:mm"
              >
              </el-time-select>
            </template>
          </el-table-column>
          <el-table-column prop="active" label="Active">
            <template slot-scope="scope">
              <el-checkbox v-model="scope.row.active">Active</el-checkbox>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>

      <el-form-item label="Logo">
        <div class="el-input">
          <el-upload
            action="#"
            class="avatar-uploader"
            :auto-upload="false"
            :multiple="false"
            :show-file-list="false"
            :on-change="setLogo"
            :on-remove="removeLogo"
          >
            <img v-if="logo" :src="logo.url" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </div>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close" :disabled="loading">Cancel</el-button>
      <el-button type="primary" @click="process" :loading="loading">{{
        button_label
      }}</el-button>
    </span>
  </el-dialog>
</template>


<script>
import { create, update } from "@/api/merchants";
import CategorySelector from "@/components/common/CategorySelector.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
import CarTypeSelector from "@/components/CarTypeSelector.vue";
import CardSerial from "@/components/CardSerial.vue";

export default {
  components: {
    CategorySelector,
    CardTypeSelector,
    CarTypeSelector,
    CardSerial,
  },
  props: {
    editMode: {
      type: Boolean,
      default: false,
    },
    merchant: {
      type: Object,
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      all_cars: false,
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
      form: {
        fullname: "",
        email: "",
        top: false,
        brand: false,
        auto_generate_number: true,
        custom_number: false,
        categories: [],
        cards: [],

        times: [
          { day: 0, from: null, to: null, active: true },
          { day: 1, from: null, to: null, active: true },
          { day: 2, from: null, to: null, active: true },
          { day: 3, from: null, to: null, active: true },
          { day: 4, from: null, to: null, active: true },
          { day: 5, from: null, to: null, active: true },
          { day: 6, from: null, to: null, active: true },
        ],
      },
      logo: null,
      logoDirty: false,
      carTypes: [],
      loadedCategories: [],
      loadedCards: [],
    };
  },
  watch: {
    merchant: {
      handler: function (merchant) {
        if (this.editMode && merchant) {
          Object.keys(this.form).forEach((key) => {
            if (key === "categories") {
              this.loadedCategories = merchant["categories"];

              this.form[key] = merchant["categories"].map((cat) => cat.id);
            } else if (key === "cards") {
              this.loadedCards = merchant["card_types"];

              this.form[key] = merchant["card_types"].map((cat) => cat.id);
            } else if (key === "top" || key === "brand") {
              this.form[key] = Boolean(merchant[key]);
            } else if (key === "times" && !merchant["times"].length) {
              this.form[key] = [
                { day: 0, from: null, to: null, active: true },
                { day: 1, from: null, to: null, active: true },
                { day: 2, from: null, to: null, active: true },
                { day: 3, from: null, to: null, active: true },
                { day: 4, from: null, to: null, active: true },
                { day: 5, from: null, to: null, active: true },
                { day: 6, from: null, to: null, active: true },
              ];
            } else {
              this.form[key] = merchant[key];
            }
          });

          this.logo = { url: merchant.avatar };
        }
      },
      immediate: true,
    },
  },
  mounted() {
    this.logoDirty = !this.editMode;

    this.carTypes = this.merchant.car_types.map((c) => c.id);

    this.all_cars = Boolean(this.merchant.all_cars);
  },
  computed: {
    button_label() {
      if (this.editMode) {
        return this.loading ? "Editing..." : "Edit";
      }

      return this.loading ? "Creating" : "Create";
    },
  },
  methods: {
    close() {
      this.$emit("closed");
    },
    setLogo(logo) {
      this.logoDirty = true;

      this.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw),
      };
    },
    removeLogo() {
      this.logo = null;
    },
    process() {
      this.loading = true;
      this.editMode ? this.update() : this.create();
    },
    async update() {
      let logo = this.merchant.avatar;

      if (this.logoDirty) {
        logo = await this.uploadLogo();
      }

      const categories = this.form.categories.join(",");
      const carTypes = this.carTypes.join(",");
      const cards = this.form.cards.join(",");
      const requestData = {
        ...this.form,
        categories,
        carTypes,
        cards,
        avatar: logo,
      };

      if (this.all_cars) {
        requestData["all_cars"] = true;
      }

      update(this.merchant.id, requestData)
        .then((data) => {
          this.close();

          this.$emit("updated", {
            ...requestData,
            categories: this.loadedCategories,
            cards: this.loadedCards,
            id: this.merchant.id,
          });

          this.loading = false;

          this.$message({
            message: "New Supplier Added",
            type: "success",
          });
        })
        .catch((_) => {
          this.loading = false;
        });
    },
    async uploadLogo() {
      const ref = this.$firebase
        .storage()
        .child(`merchants/logos/${this.logo.name}`);

      await ref.put(this.logo.raw);

      return await ref.getDownloadURL();
    },
    async create() {
      const categories = this.form.categories.join(",");
      const cards = this.form.cards.join(",");
      const carTypes = this.carTypes.join(",");

      const requestData = {
        ...this.form,
        categories,
        cards,
        carTypes,
      };

      if (this.logo) {
        const logo = await this.uploadLogo();

        requestData["avatar"] = logo;
      }

      if (this.all_cars) {
        requestData["all_cars"] = true;
      }

      create(requestData)
        .then((data) => {
          data.merchants_count = 0;

          this.$emit("created", data);

          this.loading = false;

          this.close();

          this.$message({
            message: "New Supplier Added",
            type: "success",
          });
        })
        .catch((_) => {
          this.loading = false;
        });
    },
  },
};
</script>