<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-calendar
        v-model="selectedDay"
        @input="getBookings"
        v-loading="loadingDate"
      >
        <template slot="dateCell" slot-scope="{ date }">
          <span style="margin-top: 10px">{{ date.getDate() }}</span>
          <br />
          <el-tag
            type="warning"
            style="margin-top: 10px"
            v-if="bookingsDays[date.getDate()]"
            >{{ bookingsDays[date.getDate()].length }}</el-tag
          >
        </template>
      </el-calendar>
    </el-card>

    <el-timeline style="margin-top: 20px" reverse>
      <el-timeline-item
        :timestamp="book.time"
        placement="top"
        v-for="book in bookings"
        :key="book.id"
      >
        <el-card shadow="never">
          <h4 v-if="book.user">{{ book.user.fullname }}</h4>
          <p>
            <el-tag type="info" v-if="book.offer"
              >Merchant : {{ book.offer.merchant.fullname }}</el-tag
            >
            <el-tag v-if="book.offer">Offer : {{ book.offer.title }}</el-tag>
          </p>
        </el-card>
      </el-timeline-item>
    </el-timeline>
  </div>
</template>

<script>
import { get, remove } from "@/api/bookings";
import MerchantSelector from "@/components/common/MerchantSelector.vue";

import { groupBy } from "lodash";

export default {
  components: {
    MerchantSelector,
  },
  data() {
    return {
      bookingsDays: {},
      total: 0,
      loadingDate: false,
      currentEditAd: null,
      showAdForm: false,
      selectedDay: null,
      filters: {
        rangeDate: new Date(),
        with: "offer,user",
        paginate: 10,
      },
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },
  },
  computed: {
    bookings() {
      if (!this.selectedDay) return [];

      const day = new Date(this.selectedDay).getDate();

      if (!this.bookingsDays[day]) return [];

      return this.bookingsDays[day];
    },
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then((data) => {
        this.bookingsDays = groupBy(data, (booking) => {
          return new Date(booking.booking_at).getDate();
        });

        this.loadingDate = false;
      });
    },
    getBookings(date) {
      if (this.filters.rangeDate.getMonth() != date.getMonth()) {
        this.bookingsDays = {};
        this.selectedDay = null;
        this.filters.rangeDate = date;
      }
    },
  },
};
</script>