<template>
  <div class="app-container">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
        <el-col :span="6" class="text-right">
          <el-button type="primary" :outline="true" @click="newcartype.show = true">New cartype</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="categories" style="width: 100%" v-loading="loadingDate">
        <el-table-column property="name" label="Name"></el-table-column>

        <el-table-column label="Icon">
          <template slot-scope="scope">
            <img :src="scope.row.icon" style="width:50px"/>
          </template>
        </el-table-column>


        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button @click="showEditDialog(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :title="'Edit ' + editcartype.cartype.name"
      :visible.sync="editcartype.show"
      :close-on-click-modal="!editcartype.loading"
      :close-on-press-escape="!editcartype.loading"
      :show-close="!editcartype.loading"
      width="30%"
    >
      <el-form :model="editcartype.cartype">
        <el-form-item label="Name">
          <el-input v-model="editcartype.cartype.name"></el-input>
        </el-form-item>


        <el-form-item label="Icon" >
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setIcon"
              :on-remove="removeIcon"
            >
              <img v-if="editcartype.cartype.temp_icon.url" :src="editcartype.cartype.temp_icon.url" class="avatar" width="50" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editcartype.show = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="sendEditcartype"
        >{{ editcartype.loading ? 'editing ...' : 'Edit'}}</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="New cartype"
      :visible.sync="newcartype.show"
      :close-on-click-modal="!newcartype.loading"
      :close-on-press-escape="!newcartype.loading"
      :show-close="!newcartype.loading"
    >
      <el-form :model="newcartype.form">
        <el-form-item label="Name">
          <el-input v-model="newcartype.form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Memberhsip">
          <CardTypeSelector
            v-model="newcartype.form.card_type"
            :selected="newcartype.form.card_type"
            :multiple="false"
          ></CardTypeSelector>
        </el-form-item>


        <el-form-item label="Icon" >
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setIcon"
              :on-remove="removeIcon"
            >
              <img v-if="icon" :src="icon.url" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="newcartype.show = false" :disabled="newcartype.loading">Cancel</el-button>
        <el-button
          type="primary"
          @click="createcartype"
          :loading="newcartype.loading"
        >{{ newcartype.loading ? 'creating' : 'Create'}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/car-type";
var resizeImage = require("resize-image");

export default {
  data() {
    return {
      categories: [],
      total: 0,
      loadingDate: true,
      icon: null,
      editcartype: {
        loading: false,
        show: false,
        iconDirty:false,
        cartype: {
             temp_icon:{}
        }
      },
      newcartype: {
        loading: false,
        show: false,
        form: {
          icon: "",
          card_type: null
        }
      },
      filters: {
        paginate: 10,
        page: 1
      }
    };
  },
  watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    },
    "editcartype.show":function(){
      this.editcartype.iconDirty = false;
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.categories = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    showEditDialog(cartype) {
      
      const cat = this.clone(cartype);

  cat.temp_icon = {url : cat.icon }
   

      this.editcartype.cartype = cat;

      this.editcartype.show = true;
    },
    uploadIcon() {
      return new Promise((resolve, reject) => {
        var img = new Image();
        img.onload = () => {
          var data = resizeImage.resize(img, 50, 50, resizeImage.PNG);

const name = this.editcartype.show?this.editcartype.cartype.temp_icon.name : this.icon.name;
          const ref = this.$firebase.storage().child(`icons/${name}`);

          ref.putString(data, "data_url").then(() => {
            resolve(ref.getDownloadURL());
          });
        };

          if(this.editcartype.show){
img.src = this.editcartype.cartype.temp_icon.url;
          }else{
  img.src = this.icon.url; // local image url
          }
      
      });
    },
    setIcon(icon) {

      if(this.editcartype.show){
        this.editcartype.iconDirty = true;

        this.editcartype.cartype.temp_icon = {
        ...icon,
        url: URL.createObjectURL(icon.raw)
      };
      }else{
  this.icon = {
        ...icon,
        url: URL.createObjectURL(icon.raw)
      };
      }

    
    },
    removeIcon() {
      if(this.editcartype.show){
        this.editcartype.cartype.temp_icon = null;
      }else{

      }
      this.icon = null;
    },
    async sendEditcartype() {
      this.editcartype.loading = true;


      if (this.editcartype.iconDirty) {
        this.editcartype.cartype.icon = await this.uploadIcon();
      }

      update(this.editcartype.cartype.id, this.editcartype.cartype)
        .then(data => {
          this.updateObject();

          this.editcartype.loading = false;
          this.editcartype.show = false;

          this.$message({
            message: "New cartype Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.editcartype.loading = false;
          this.editcartype.show = false;
        });
    },
    deletecartype(cartype) {
      this.$confirm(`Are You Sure to delete ${cartype.name} cartype?`)
        .then(_ => {
          this.$message({
            message: "cartype has been deleted",
            type: "success"
          });

          this.categories.splice(this.categories.indexOf(cartype), 1);

          remove(cartype.id);
        })
        .catch(_ => {});
    },
    async createcartype() {
      this.newcartype.loading = true;

   
        this.newcartype.form.icon = await this.uploadIcon();
   

      create(this.newcartype.form)
        .then(data => {
          data.merchants_count = 0;

          this.categories.unshift(data);

          this.newcartype.loading = false;
          this.newcartype.show = false;

          this.$message({
            message: "New cartype Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.newcartype.loading = false;
          this.newcartype.show = false;
        });
    },
    updateObject() {
      const cat = this.categories[
        this.categories.findIndex(
          cartype => cartype.id === this.editcartype.cartype.id
        )
      ];

      Object.keys(cat).forEach(key => {
        if (
          cat.hasOwnProperty(key) &&
          this.editcartype.cartype.hasOwnProperty(key)
        ) {
          cat[key] = this.editcartype.cartype[key];
        }
      });
    }
  }
};
</script>

<style>
.form-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.form-control:focus {
  border-color: #409eff;
  outline: 0;
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.btn.btn-light {
  display: none;
}
</style>