<template>
<el-dialog
     :title="editMode ? 'Edit Ad' : 'New AD'"
     :visible="show"
    :close-on-click-modal="!loading"
    :close-on-press-escape="!loading"
    :show-close="!loading"
    @close="close"
    >
      <el-form :model="form">
        <el-form-item label="Cover">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setLogo"
              :on-remove="removeLogo"
            >
              <img
                v-if="logo && logo_type == 'img'"
                :src="logo.url"
                class="avatar"
              />
              <p v-if="logo && logo_type == 'video'">Video</p>
              <i v-if="!logo" class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>

          <video v-if="logo && logo_type == 'video'" :src="logo.base64"
          controls class="ad-video"></video>
        </el-form-item>

        <el-form-item label="Title">
          <el-input v-model="form.title" type="textarea" :rows="3" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Content">
          <el-input v-model="form.content" type="textarea" :rows="3" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Car Types">
          <CarTypeSelector v-model="carTypes" :loadAll="true" :selected="carTypes"></CarTypeSelector>
        </el-form-item>

        <hr />

        <h3>Every Day (Select Days)</h3>

        <el-row>
          <el-col :span="6" v-for="day in days" :key="day" style="margin:1rem;">
            <el-checkbox border @change="changeDay($event , day)" :checked="selected.days.indexOf(day) != -1">{{ day}}</el-checkbox>
          </el-col>
        </el-row>

        <h3>Every Month (Select Months)</h3>

        <el-row>
          <el-col :span="6" v-for="month in months" :key="month" style="margin:1rem;">
            <el-checkbox border @change="changeMonth($event , month)" :checked="selected.months.indexOf(month) != -1">{{ month}}</el-checkbox>
          </el-col>
        </el-row>

        <h3>Every Time (Select Times)</h3>

        <el-table :data="selected.times">
          <el-table-column>
            <template slot-scope="scope">{{ scope.row}}</template>
          </el-table-column>
          <el-table-column>
            <template slot-scope="scope">
              <el-button
                @click="selectTime(scope.row , false)"
                type="danger"
                icon="el-icon-delete"
                circle
              ></el-button>
            </template>
          </el-table-column>
        </el-table>

        <el-time-select
          v-model="tempTime"
          :picker-options="{
    start: '00:00',
    step: '00:15',
    end: '24:00'
  }"
          placeholder="Select time"
          @change="selectTime($event , true)"
        />
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-progress :percentage="uploadProgress" style="margin-bottom:10px;" v-if="uploadProgress != null"></el-progress>

        <el-checkbox border v-model="form.sendNow" v-if="!editMode">send now ?</el-checkbox>
        <el-button @click="show = false" :disabled="loading">Cancel</el-button>
        <el-button
          type="primary"
          @click="createcard"
          :loading="loading"
        >{{ button_label}}</el-button>
      </span>
    </el-dialog>
</template>

<script>
import CarTypeSelector from "@/components/CarTypeSelector.vue";
const isImage = require("is-image");
import { get, remove, create, update } from "@/api/ads";

export default {
     components:{
          CarTypeSelector
     },
props: {
    editMode: {
      type: Boolean,
      default: false
    },
    ad: {
      type: Object
    },
    show: {
      type: Boolean,
      default: false
    }
  },
    data() {
    return {
      loading: false,
        tempTime: "",
        form: {
          content: "",
          title: "",
          sendNow: false,
          crons: []
        },
        logo: null,
        logo_type: "",
        logoDirty: false,
        carTypes: [],
        uploadProgress:null,
     days: [
        "saturday",
        "sunday",
        "monday",
        "tuesday",
        "wednesday",
        "thrusday",
        "friday"
      ],
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      selected: {
        days: [],
        months: [],
        times: []
      }
    };
  },
    computed: {
    button_label() {
      if (this.editMode) {
        return this.loading ? "Editing..." : "Edit";
      }

      return this.loading ? "Creating" : "Create";
    }
  },
  methods:{
           async setLogo(logo) {
      const toBase64 = file =>
        new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
        });

      const base64 = await toBase64(logo.raw);

      this.logoDirty = true;

      this.logo_type = isImage(logo.name) ? "img" : "video";

      if(this.editMode) this.logoDirty = true;

      this.logo = {
        ...logo,
        base64,
        url: isImage(logo.name) ? URL.createObjectURL(logo.raw) : ""
      };
    },
    removeLogo() {
      this.logo = null;
    },
    uploadCover() {
      return new Promise((resolve, reject) => {

           if(this.editMode && !this.logoDirty) {
            resolve( this.logo_type == 'img' ?  this.logo.url : this.logo.base64) 
           };

        const ref = this.$firebase
          .storage()
          .child(`ads/${this.logo.name}`);

        var uploadTask = ref.putString(this.logo.base64, "data_url");

        uploadTask.on(
          "state_changed",
          snapshot => {
 var progress = Math.ceil((snapshot.bytesTransferred / snapshot.totalBytes) * 100);
 this.uploadProgress = progress;
            
          },
          function(error) {
            // Handle unsuccessful uploads
          },
          function() {
            uploadTask.snapshot.ref
              .getDownloadURL()
              .then(function(downloadURL) {
                resolve(downloadURL);
              });
          }
        );
      });
    },
           changeDay(e, day) {
      if (e) {
        this.selected.days.push(day);
      } else {
        this.selected.days.splice(this.selected.days.indexOf(day), 1);
      }
    },
    changeMonth(e, month) {
      if (e) {
        this.selected.months.push(month);
      } else {
        this.selected.months.splice(this.selected.months.indexOf(month), 1);
      }
    },
    selectTime(e, add) {
      if (add) {
        this.selected.times.push(e);
        this.tempTime = "";
      } else {
        this.selected.times.splice(this.selected.times.indexOf(e), 1);
      }
    },
           async createcard() {
      if (this.form.content == "") {
        this.$message({
          message: "You have to add content",
          type: "danger"
        });
        return;
      }
      if (!this.selected.months.length) {
        this.$message({
          message: "You have to select Months",
          type: "danger"
        });
        return;
      }
      if (!this.selected.days.length) {
        this.$message({
          message: "You have to select days",
          type: "danger"
        });
        return;
      }
      if (!this.selected.times.length) {
        this.$message({
          message: "You have to select Times",
          type: "danger"
        });
        return;
      }

      this.form.crons = [];

      this.selected.months.forEach(month => {
        this.selected.days.forEach(day => {
          this.selected.times.forEach(time => {
            const t = time.split(":");

            this.form.crons.push(
              `${day}-${month}-${new Date().getFullYear()} ${t[0]}:${t[1]}`
            );
          });
        });
      });

      this.loading = true;

      const requestData = {
        ...this.form,
        car_types: this.carTypes
      };

      if (this.logo) {
        const logo = await this.uploadCover();

        requestData["cover"] = logo;
        requestData["cover_type"] = this.logo_type;
      }

const fn = this.editMode ? update(this.ad.id , requestData) : create(requestData);

      fn.then(data => {

        if(this.editMode){
          this.$emit('updated');
        }else{
          this.$emit('newAd' , data);
        }

                   this.close();


          this.$message({
            message: this.editMode ? "Ad Updated" : "New ad Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.loading = false;
          this.close();
        });
    },
        close() {
      this.$emit("closed");
    },
  },
      mounted(){


         if(this.editMode && this.ad){

              this.form.content = this.ad.content
              this.form.title = this.ad.title



this.logo_type = this.ad.cover_type;

if(this.logo_type == 'img'){
this.logo = {
     url : this.ad.cover
};
}else{
   this.logo = {
     base64 : this.ad.cover
};  
}

this.carTypes = this.ad.car_types;

              this.ad.crons.forEach(cron => {

                   const [date , time] = cron.split(' ');
                   const [day , month , year]= date.split('-');
                  

                   this.selected.days.indexOf(day) == -1 && this.selected.days.push(day);
                   this.selected.months.indexOf(month) == -1 && this.selected.months.push(month);

                   this.selected.times.indexOf(time) == -1 && this.selected.times.push(time);
              })
         }
    }
}
</script>

<style scoped>
.ad-video{
     width:100%;height:350px;
}
</style>