<<template>
  <div>
    <p v-if="loading">Loading Branches ...</p>
    <el-checkbox-group v-model="selected">
    <el-checkbox :label="branch.id" :value="branch.id"  v-for="branch in branches" :key="branch.id">{{branch.name}}</el-checkbox>
  </el-checkbox-group>
      <p v-if="!loading &&! branches.length ">No Branches</p>
  </div>
</template>

<script>
import { get } from "@/api/branches";

export default {
  props: {
    loadedBranches: {
      type: Array,
      default: () => []
    },
    merchant_id: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      branches: this.loadedBranches,
      loading: true,
      selected: this.$attrs.value || []
    };
  },
  watch: {
    merchant_id: {
      handler() {
        this.loading = true;
        get({ merchant_ids: this.merchant_id }).then(data => {
          this.branches = data;
          this.loading = false;
        });
      },
      immediate: true
    },
    selected(val) {
      this.$emit("input", val);
    }
  }
};
</script>