<template>
  <el-select
    :multiple="multiple"
    filterable
    remote
    reserve-keyword
    :value="selected"
    class="w-100"
    :placeholder="placholder"
    :remote-method="remoteMethod"
    :loading="loading"
    @change="e => $emit('input' , e)"
  >
    <el-option v-for="card in cardTypes" :key="card.id" :label="card.name" :value="card.id"></el-option>
  </el-select>
</template>

<script>
import { get } from "@/api/card-type";

export default {
  props: {
    selected: {
      type: Array
    },
    loadedCardTypes: {
      type: Array,
      default: () => []
    },
    placholder: {
      type: String,
      default: ""
    },
    multiple: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      cardTypes: this.loadedCardTypes,
      loading: false
    };
  },
  methods: {
    remoteMethod(query) {
      this.loading = true;

      get({ name: query, limit: 10 }).then(data => {
        this.loading = false;
        this.cardTypes = data;
      });
    }
  }
};
</script>