<template>
  <el-select
    multiple
    filterable
    remote
    reserve-keyword
    :value="selected"
    class="w-100"
    :placeholder="placholder"
    :remote-method="remoteMethod"
    :loading="loading"
    @change="e => $emit('input' , e)"
  >
    <el-option
      v-for="category in categories"
      :key="category.id"
      :label="category.name"
      :value="category.id"
    ></el-option>
  </el-select>
</template>

<script>
import { get } from "@/api/category";

export default {
  props: {
    selected: {
      type: Array
    },
    loadedCategories: {
      type: Array,
      default: () => []
    },
    placholder: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      categories: this.loadedCategories,
      loading: false
    };
  },
  methods: {
    remoteMethod(query) {
      this.loading = true;

      get({ name: query, limit: 10 }).then(data => {
        this.loading = false;
        this.categories = data;
      });
    }
  }
};
</script>