<template>
  <el-select
    :multiple="multiple"
    filterable
    remote
    reserve-keyword
    :value="selected"
    class="w-100"
    :placeholder="placholder"
    :remote-method="remoteMethod"
    :loading="loading"
    @change="(e) => $emit('input', e)"
  >
    <el-option
      v-for="user in users"
      :key="user.id"
      :label="user.fullname"
      :value="user.id"
    ></el-option>
  </el-select>
</template>

<script>
import { get } from "@/api/merchants";

export default {
  props: {
    selected: {
      type: Number,
    },
    loadedUsers: {
      type: Array,
      default: () => [],
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    placholder: {
      type: String,
      default: "",
    },
    params: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      users: this.loadedUsers,
      loading: false,
    };
  },
  methods: {
    remoteMethod(query) {
      this.loading = true;

      get({ name: query, limit: 10, ...this.params }).then((data) => {
        this.loading = false;
        this.users = data;
      });
    },
  },
};
</script>