<template>
  <el-select
    filterable
    remote
    reserve-keyword
    :value="$attrs.value"
    class="w-100"
    :placeholder="placholder"
    :remote-method="remoteMethod"
    :loading="loading"
    @change="e => $emit('input' , e)"
  >
    <el-option v-for="card in packages" :key="card.id" :label="card.name" :value="card.id"></el-option>
  </el-select>
</template>

<script>
import { get } from "@/api/packages";

export default {
  props: {
    loadedpackages: {
      type: Array,
      default: () => []
    },
    placholder: {
      type: String,
      default: ""
    },
    card_type_id: {
      type: Number,
      required: true
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      packages: this.loadedpackages,
      loading: false
    };
  },
  watch: {
    "$attrs.value": function(val) {
      if (!val) {
        this.packages = [];
      }
    }
  },
  methods: {
    remoteMethod(query) {
      this.loading = true;

      get({ name: query, limit: 10, cardTypeId: this.card_type_id }).then(
        data => {
          this.loading = false;
          this.packages = data;
        }
      );
    }
  }
};
</script>