<template>
  <div class="app-container">
    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
          <el-col :span="6" class="text-right">
            <el-button type="primary" @click="showNewOffer = true"
              >New offer</el-button
            >
          </el-col>
        </el-row>

        <el-row class="mt-2" :gutter="20">
          <el-col :span="12">
            <el-input
              :placeholder="'Search By ' + search.key"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="Merchant" value="merchant"></el-option>
              </el-select>
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="next"
              ></el-button>
            </el-input>
          </el-col>
          <el-col :span="6">
            <CardTypeSelector
              placholder="Filter by Membership"
              v-model="filterByCardType"
              :selected="filterByCardType"
            ></CardTypeSelector>
          </el-col>
          <el-col :span="4">
            <el-checkbox v-model="sos">Only Sos</el-checkbox>
          </el-col>
        </el-row>
      </div>
      <el-table
        stripe
        :data.sync="offers"
        style="width: 100%"
        @sort-change="changeSort"
        v-loading="loadingDate"
        v-if="!refreshing"
      >
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ new Date(scope.row.created_at).toLocaleString() }}
          </template>
        </el-table-column>
        <el-table-column
          property="title"
          label="Title"
          sortable
        ></el-table-column>
        <el-table-column property="merchant" label="Merchant" sortable>
          <template slot-scope="scope">{{
            scope.row.merchant ? scope.row.merchant.fullname : ""
          }}</template>
        </el-table-column>
        <el-table-column label="Discription">
          <template slot-scope="scope">
            <p class="exceprt">{{ scope.row.description }}</p>
          </template>
        </el-table-column>
        <el-table-column label="Start Date">
          <template slot-scope="scope">{{
            scope.row.allTime ? "ALL TIME" : scope.row.start_date
          }}</template>
        </el-table-column>
        <el-table-column label="End Date">
          <template slot-scope="scope">{{
            scope.row.allTime ? "ALL TIME" : scope.row.end_date
          }}</template>
        </el-table-column>
        <el-table-column property="end_date" label="Expired" sortable>
          <template slot-scope="scope">
            <el-tag
              :type="
                scope.row.expired && !scope.row.alltime ? 'danger' : 'success'
              "
              >{{
                scope.row.expired && !scope.row.alltime ? "EXPIRED" : "VALID"
              }}</el-tag
            >
          </template>
        </el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button
              @click="deleteoffer(scope.row)"
              type="danger"
              icon="el-icon-delete"
              circle
            ></el-button>
            <el-button
              @click="currentEditOffer = scope.row"
              type="primary"
              icon="el-icon-edit"
              circle
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <CreateUpdateForm
      v-if="showNewOffer"
      :edit-mode="false"
      :show="showNewOffer"
      @closed="showNewOffer = false"
      @created="addNewOffer"
    ></CreateUpdateForm>

    <CreateUpdateForm
      v-if="currentEditOffer != null"
      :edit-mode="true"
      :offer="currentEditOffer"
      :show="currentEditOffer != null"
      @closed="currentEditOffer = null"
      @updated="updateObject"
    ></CreateUpdateForm>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/offer";

import { get as getCardTypes } from "@/api/card-type";
import { get as getMerchants } from "@/api/merchants";

import CreateUpdateForm from "@/components/Forms/offer/CreateUpdateForm.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";

export default {
  components: {
    CreateUpdateForm,
    CardTypeSelector,
  },
  data() {
    return {
      offers: [],
      total: 0,
      sos: false,
      refreshing: false,
      loadingDate: true,
      showNewOffer: false,
      currentEditOffer: null,
      filterByCardType: [],

      cardTypes: {
        loading: true,
        data: [],
      },
      merchants: {
        loading: true,
        data: [],
      },
      search: {
        key: "merchant",
        value: "",
      },
      orderBy: {
        key: "",
        order: "",
      },
      filters: {
        withSos: true,
        with: "merchant,discounts,cardTypes,branches",
        latest: true,
        paginate: 10,
        page: 1,
      },
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },
    filterByCardType() {
      this.next();
    },
    sos() {
      this.next();
    },
  },
  methods: {
    next() {
      const filters = {
        ...this.filters,
      };

      if (this.orderBy.key != "") {
        filters.orderBy = this.orderBy.key + "," + this.orderBy.order;
      }

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }

      if (this.filterByCardType.length) {
        filters.filterByCardType = this.filterByCardType.join(",");
      }

      if (this.sos) {
        filters["sos"] = true;
      }

      this.loadingDate = true;
      get(filters).then(({ total, data, current_page }) => {
        this.offers = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },

    deleteoffer(offer) {
      this.$confirm(`Are You Sure to delete ${offer.name} offer?`)
        .then((_) => {
          this.$message({
            message: "offer has been deleted",
            type: "success",
          });

          this.offers.splice(this.offers.indexOf(offer), 1);

          remove(offer.id);
        })
        .catch((_) => {});
    },

    addNewOffer(offers) {
      this.offers = offers.concat(this.offers);
    },

    updateObject(data) {
      this.refreshing = true;
      const index = this.offers.findIndex((o) => o.id == data.id);

      this.offers[index] = data;
      setTimeout(() => {
        this.refreshing = false;
      }, 200);
    },
    loadCardTypes() {
      getCardTypes(1).then((data) => {
        this.cardTypes.data = data.data;
      });
    },
    loadMerchants() {
      getMerchants(1).then((data) => {
        this.merchants.data = data.data;
      });
    },
    changeSort(e) {
      this.orderBy.key = e.prop;
      this.orderBy.order = e.prop.order === "descending" ? "desc" : "asc";

      this.next();
    },
  },
  created() {
    this.loadCardTypes();

    this.loadMerchants();
  },
};
</script>