<template>
  <div class="app-container">
    <Importing
      :api="'import/merchants'"
      @imported="next"
      :merchant="true"
    ></Importing>

    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
          <el-col :span="6" class="text-right">
            <el-button type="primary" @click="showNewMerchant = true"
              >New Supplier</el-button
            >
          </el-col>
        </el-row>

        <el-row class="mt-2" :gutter="20">
          <el-col :span="12">
            <el-input
              placeholder="Search By name"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="Name" value="name"></el-option>
                <el-option label="Mobile" value="mobile"></el-option>
                <el-option label="Email" value="email"></el-option>
                <el-option label="Serial" value="serial"></el-option>
              </el-select>
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="next"
              ></el-button>
            </el-input>
          </el-col>
          <el-col :span="6">
            <CategorySelector
              placholder="Filter by Category"
              v-model="filterByCategories"
              :selected="filterByCategories"
            ></CategorySelector>
          </el-col>
          <el-col :span="6">
            <CardTypeSelector
              placholder="Filter by Membership"
              v-model="filterByCardType"
              :selected="filterByCardType"
            ></CardTypeSelector>
          </el-col>
        </el-row>
      </div>

      <el-row v-if="selected.length" style="margin-bottom: 2rem">
        <el-col :span="18">
          <el-button
            @click="deleteAllMerchants"
            type="danger"
            icon="el-icon-delete"
            circle
          ></el-button>
        </el-col>
      </el-row>

      <el-table
        stripe
        :data="merchants"
        style="width: 100%; font-weight: bold"
        v-loading="loadingDate"
        @sort-change="changeSort"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="Logo" width="120">
          <template slot-scope="scope">
            <el-image
              style="width: 100px; height: 100px"
              :src="scope.row.avatar"
              lazy
            >
              <div slot="error" class="image-slot">
                <img src="@/assets/images/logo.png" alt />
              </div>
            </el-image>
          </template>
        </el-table-column>
        <el-table-column
          property="fullname"
          label="Name"
          sortable
          width="120"
        ></el-table-column>
        <el-table-column
          property="serial"
          label="Serial"
          width="200"
        ></el-table-column>
        <el-table-column
          property="created_at"
          label="Date"
          width="200"
        ></el-table-column>
        <el-table-column
          property="email"
          label="Email"
          width="200"
        ></el-table-column>
        <el-table-column
          property="sales_count"
          label="Sales Count"
          width="200"
        ></el-table-column>
        <el-table-column
          property="owner_name"
          label="representer"
          width="120"
        ></el-table-column>
        <el-table-column label="Company type" width="200">
          <template slot-scope="scope">{{
            scope.row.company ? scope.row.company.type : "--"
          }}</template>
        </el-table-column>
        <el-table-column label="Company Acting" width="300">
          <template slot-scope="scope">{{
            scope.row.company ? scope.row.company.acting : "--"
          }}</template>
        </el-table-column>

        <el-table-column label="Contract">
          <el-table-column label="Contractor Name" width="120">
            <template slot-scope="scope">{{
              scope.row.company ? scope.row.company.representee : ""
            }}</template>
          </el-table-column>
          <el-table-column property="Position" label="acting" width="120">
            <template slot-scope="scope">{{ scope.row.job }}</template>
          </el-table-column>
          <el-table-column label="Address">
            <el-table-column label="Building Number" width="220">
              <template slot-scope="scope">{{
                scope.row.addresses[0] ? scope.row.addresses[0].building_no : ""
              }}</template>
            </el-table-column>
            <el-table-column label="Street Number" width="220">
              <template slot-scope="scope">{{
                scope.row.addresses[0] ? scope.row.addresses[0].street : ""
              }}</template>
            </el-table-column>
            <el-table-column label="District 1" width="120">
              <template slot-scope="scope">{{
                scope.row.addresses[0] ? scope.row.addresses[0].district1 : ""
              }}</template>
            </el-table-column>
            <el-table-column label="District 2" width="120">
              <template slot-scope="scope">{{
                scope.row.addresses[0] ? scope.row.addresses[0].district2 : ""
              }}</template>
            </el-table-column>
            <el-table-column label="City" width="120">
              <template slot-scope="scope">{{
                scope.row.addresses[0] ? scope.row.addresses[0].city : ""
              }}</template>
            </el-table-column>
            <el-table-column label="Government" width="120">
              <template slot-scope="scope">{{
                scope.row.addresses[0] ? scope.row.addresses[0].gov : ""
              }}</template>
            </el-table-column>
          </el-table-column>
        </el-table-column>

        <el-table-column label="Actions" fixed="right" width="350">
          <template slot-scope="scope">
            <el-row>
              <el-button-group style="width: 100%">
                <el-button style="width: 50%">
                  <router-link
                    :to="{
                      name: 'SupplierBranches',
                      params: { id: scope.row.id },
                    }"
                    >Show Branches</router-link
                  >
                </el-button>

                <el-button
                  @click="toggleTop(scope.row)"
                  :type="scope.row.top ? 'danger' : 'success'"
                  icon="el-arrow-up"
                  style="width: 50%"
                  >{{
                    scope.row.top ? "Remove From Top" : "Make Top"
                  }}</el-button
                >
              </el-button-group>
            </el-row>
            <el-row style="margin-top: 10px">
              <el-button-group style="width: 100%">
                <el-button
                  @click="currentEditMerchant = scope.row"
                  type="primary"
                  icon="el-icon-edit"
                  style="width: 50%"
                  >Edit</el-button
                >
                <el-button
                  @click="deletemerchant(scope.row)"
                  type="danger"
                  icon="el-icon-delete"
                  style="width: 50%"
                  >Delete</el-button
                >
              </el-button-group>
            </el-row>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <CreateUpdateForm
      v-if="showNewMerchant"
      :edit-mode="false"
      :show="showNewMerchant"
      @closed="showNewMerchant = false"
      @created="addNewMerchant"
    ></CreateUpdateForm>

    <CreateUpdateForm
      v-if="currentEditMerchant != null"
      :edit-mode="true"
      :merchant="currentEditMerchant"
      :show="currentEditMerchant != null"
      @closed="currentEditMerchant = null"
      @updated="updateObject"
    ></CreateUpdateForm>
  </div>
</template>

<script>
import { get, remove, toggleTop } from "@/api/merchants";
import CreateUpdateForm from "@/components/Forms/merchants/CreateUpdateForm.vue";
import CategorySelector from "@/components/common/CategorySelector.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
import Importing from "@/components/Importing.vue";

export default {
  components: {
    CreateUpdateForm,
    CategorySelector,
    CardTypeSelector,
    Importing,
  },
  data() {
    return {
      merchants: [],
      total: 0,
      loadingDate: true,
      showNewMerchant: false,
      currentEditMerchant: null,
      search: {
        key: "name",
        value: "",
      },
      selected: [],
      orderBy: {
        key: "",
        order: "",
      },
      filterByCategories: [],
      filterByCardType: [],
      filters: {
        count: "branches",
        with: "categories,company,addresses,carTypes,cardTypes,times",
        trending: true,
        paginate: 10,
        latest: true,
        page: 1,
      },
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },
    filterByCategories() {
      this.next();
    },
    filterByCardType() {
      this.next();
    },
  },
  methods: {
    next() {
      const filters = {
        ...this.filters,
      };

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }
      if (this.orderBy.key != "") {
        filters.orderBy = this.orderBy.key + "," + this.orderBy.order;
      }
      if (this.filterByCategories.length) {
        filters.filterByCategory = this.filterByCategories.join(",");
      }
      if (this.filterByCardType.length) {
        filters.filterByCardType = this.filterByCardType.join(",");
      }

      this.loadingDate = true;
      get(filters).then(({ total, data, current_page }) => {
        this.merchants = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    changeSort(e) {
      this.orderBy.key = e.prop;
      this.orderBy.order = e.prop.order === "descending" ? "desc" : "asc";

      this.next();
    },

    handleSelectionChange(e) {
      this.selected = e;
    },
    toggleTop(merchant) {
      let x;

      if (merchant.top) {
        x = " is Top Merchant Now";
      } else {
        x = " Removed From Top Merchants";
      }

      this.$message({
        message: merchant.fullname + x,
        type: "success",
      });

      merchant.top = !merchant.top;

      toggleTop({ top: merchant.top, id: merchant.id });
    },

    addNewMerchant(merchant) {
      this.next();
    },
    deletemerchant(merchant) {
      this.$confirm(`Are You Sure to delete ${merchant.fullname} Supplier?`)
        .then((_) => {
          this.$message({
            message: "Supplier has been deleted",
            type: "success",
          });

          this.merchants.splice(this.merchants.indexOf(merchant), 1);

          remove(merchant.id);
        })
        .catch((_) => {});
    },

    deleteAllMerchants() {
      this.$confirm(`Are You Sure to delete all selected supplier ?`)
        .then((_) => {
          this.$message({
            message: "Supplier have been deleted",
            type: "success",
          });

          this.selected.forEach((merchant) => {
            this.merchants.splice(this.merchants.indexOf(merchant), 1);

            remove(merchant.id);
          });
        })
        .catch((_) => {});
    },

    updateObject(updatedMerchant) {
      const cat =
        this.merchants[
          this.merchants.findIndex(
            (merchant) => merchant.id === updatedMerchant.id
          )
        ];

      Object.keys(cat).forEach((key) => {
        if (cat.hasOwnProperty(key) && updatedMerchant.hasOwnProperty(key)) {
          cat[key] = updatedMerchant[key];
        }
      });
    },
  },
};
</script>

<style >
.pac-container {
  z-index: 9999 !important;
}
.vue-map-container {
  height: 300px;
  margin-top: 20px;
}

.merchant-select .el-input {
  width: 110px;
}
</style>