<template>
  <el-dialog
    title="New branch"
    :visible="show"
    :close-on-click-modal="!loading"
    :close-on-press-escape="!loading"
    :show-close="!loading"
    :destroy-on-close="true"
    @close="close"
  >
    <el-form :model="form">
      <el-form-item label="Name">
        <el-input v-model="form.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Mobile">
        <el-input v-model="form.mobile" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Location">
        <div class="el-input">
          <gmap-autocomplete
            class="el-input__inner"
            :value="form.address_title"
            :component-restrictions="{'country': ['eg']}"
            :fields="['geometry']"
            @place_changed="place_changed"
          />
        </div>
        <Map :center="{lat:form.lat, lng:form.lng}" @clicked="mapClicked"></Map>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close" :disabled="loading">Cancel</el-button>
      <el-button type="primary" @click="process" :loading="loading">{{ button_label }}</el-button>
    </span>
  </el-dialog>
</template>

<script>
import Map from "@/components/Map.vue";
import { create, update } from "@/api/branches";
import axios from "axios";

export default {
  components: {
    Map
  },
  props: {
    editMode: {
      type: Boolean,
      default: false
    },
    branch: {
      type: Object
    },
    show: {
      type: Boolean,
      default: false
    },
    merchant_id: {
      type: String
    }
  },

  data() {
    return {
      loading: false,
      form: {
        name: "",
        mobile: "",
        lat: null,
        lng: null,
        address_title: ""
      }
    };
  },
  watch: {
    branch: {
      handler: function(branch) {
        if (this.editMode && branch) {
          Object.keys(this.form).forEach(key => {
            this.form[key] = branch[key];
          });
        }
      },
      immediate: true
    }
  },
  computed: {
    button_label() {
      if (this.editMode) {
        return this.loading ? "Editing..." : "Edit";
      }

      return this.loading ? "Creating" : "Create";
    }
  },
  methods: {
    close() {
      this.$emit("closed");
    },
    mapClicked({ latLng }) {
      this.form.lat = latLng.lat();
      this.form.lng = latLng.lng();

      this.getAddressFromLatLng(latLng);
    },
    getAddressFromLatLng({ lat, lng }) {
      lat = typeof lat === "function" ? lat() : lat;
      lng = typeof lng === "function" ? lng() : lng;

      const key = "AIzaSyDS8R4ZihTWS1HH90eAsv9uAFqQ3DHciXI";

      const reversUrl = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=${key}`;

      axios({
        method: "get",
        url: reversUrl
      }).then(data => {
        this.form.address_title = data.data["results"][0]["formatted_address"];
        this.form.address = data.data["results"][0]["formatted_address"];
      });
    },
    place_changed(e) {
      this.form.lat = e.geometry.location.lat();
      this.form.lng = e.geometry.location.lng();
      this.form.address_title = e.formatted_address;
      this.form.address = e.formatted_address;
    },
    process() {
      this.loading = true;
      this.editMode ? this.update() : this.create();
    },
    create() {
      const data = {
        ...this.form,
        merchant_id: this.merchant_id
      };

      create(data)
        .then(data => {
          data.branches_count = 0;

          this.$emit("created", data);

          this.loading = false;

          this.close();

          this.$message({
            message: "New Branch Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.loading = false;
        });
    },
    update() {
      const data = {
        ...this.form,
        merchant_id: this.merchant_id
      };
      update(this.branch.id, data)
        .then(data => {
          this.$emit("updated", {
            ...this.form,
            id: this.branch.id
          });

          this.loading = false;
          this.close();
          this.$message({
            message: "Branch Updated",
            type: "success"
          });
        })
        .catch(_ => {
          this.loading = false;
        });
    }
  }
};
</script>