<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
        <el-col :span="6" class="text-right">
          <el-button type="primary" @click="showNewBranch = true">New Branch</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="branches" style="width: 100%" v-loading="loadingDate">
        <el-table-column property="name" label="Name"></el-table-column>
        <el-table-column property="mobile" label="Mobile"></el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button @click="deletebranch(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
            <el-button
              @click="currentEditBranch = scope.row"
              type="primary"
              icon="el-icon-edit"
              circle
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <CreateUpdateForm
      v-if="showNewBranch"
      :edit-mode="false"
      :show="showNewBranch"
      @closed="showNewBranch = false"
      :merchant_id="merchant_id"
      @created="addNewBranch"
    ></CreateUpdateForm>

    <CreateUpdateForm
      v-if="currentEditBranch != null"
      :edit-mode="true"
      :branch="currentEditBranch"
      :show="currentEditBranch != null"
      @closed="currentEditBranch = null"
      @updated="updateObject"
      :merchant_id="merchant_id"
    ></CreateUpdateForm>
  </div>
</template>

<script>
import { get, remove } from "@/api/branches";

import CreateUpdateForm from "@/components/Forms/branches/CreateUpdateForm.vue";

export default {
  components: {
    CreateUpdateForm
  },
  data() {
    return {
      branches: [],
      total: 0,
      loadingDate: true,
      showNewBranch: false,
      currentEditBranch: null,
        orderBy: {
        key: "",
        order: ""
      },
      filterByCategories: [],
      filters: {
        paginate: 10,
        page: 1
      }
    };
  },
    watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    merchant_id() {
      return this.$route.params.id;
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get({ merchant_ids : this.merchant_id, ...this.filters}).then(({ total, data, current_page }) => {
        this.branches = data;

        this.total = total;
        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    addNewBranch(branch) {
      this.branches.unshift(branch);
    },
    deletebranch(branch) {
      this.$confirm(`Are You Sure to delete ${branch.name} branch?`)
        .then(_ => {
          this.$message({
            message: "branch has been deleted",
            type: "success"
          });

          this.branches.splice(this.branches.indexOf(branch), 1);

          remove(branch.id);
        })
        .catch(_ => {});
    },
    updateObject(branch) {
  
      const cat = this.branches[
        this.branches.findIndex(b => b.id === branch.id)
      ];
    debugger
      Object.keys(cat).forEach(key => {
        if (cat.hasOwnProperty(key) && branch.hasOwnProperty(key)) {
          cat[key] = branch[key];
        }
      });
    }
  }
};
</script>

<style >
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.pac-container {
  z-index: 9999 !important;
}
.vue-map-container {
  height: 300px;
  margin-top: 20px;
}
</style>