<template>
  <div>
    <el-dialog
      title="New Contact Info"
      :visible="show"
      :close-on-click-modal="!loading"
      :close-on-press-escape="!loading"
      :show-close="!loading"
    >
      <el-form :model="form">
     
        <el-form-item label="Type" >
               <el-select
    :multiple="false"
    v-model="form.type"
    class="w-100"
  >
    <el-option label="email" value="email"></el-option>
    <el-option label="number" value="number"></el-option>
  </el-select>
        </el-form-item>
        <el-form-item label="Value">
                    <el-input v-model="form.value" ></el-input>

        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="show = false" :disabled="loading">Cancel</el-button>
        <el-button
          type="primary"
          @click="createcontact"
          :loading="loading"
        >{{ loading ? 'creating' : 'Create'}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>

import { get, remove, create, update } from "@/api/contacts";

export default {

  props: {
    show: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default: null
    },
    usercontact: {
      type: Object,
      default: null
    },
    requestId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      form: {
        type: 'number'
      },
      user_id: null,
      contact: null,
      valid_thru: null
    };
  },
  methods: {
    close() {
      this.$emit("closed");
    },
    createcontact() {
      this.loading = true;


      create(this.form)
        .then(data => {
          this.$emit("created", data);

          this.loading = false;

          this.close();

          this.$message({
            message: "New contact Added",
            type: "success"
          });
        })
        .catch(error => {
          this.loading = false;

          if (error.response.status === 500) {
            this.$message({
              message: error.response.data[0],
              type: "error"
            });
          }
        });
    }
  }
};
</script>