<template>
  <div>
    <el-dialog
      :title="editMode ? 'Edit card' : pos ? 'POS' : 'New Card'"
      :visible="show"
      :close-on-click-modal="!loading"
      :close-on-press-escape="!loading"
      :show-close="!loading"
      @close="$emit('closed')"
    >
      <el-form :model="form">
        <el-form-item v-if="!editMode && !pos">
          <el-checkbox v-model="form.auto_generate_number">Auto Generate Card Number</el-checkbox>
        </el-form-item>
        <el-form-item v-if="!form.auto_generate_number && !pos">
          <el-checkbox v-model="form.custom_number">Custom Number</el-checkbox>
        </el-form-item>
        <el-form-item label="Card Number" v-if="!form.auto_generate_number && !pos">
          <CardSerial
            v-model="form.card_number"
            :value="form.card_number"
            :custom="form.custom_number"
            :prefix="1000"
          ></CardSerial>
        </el-form-item>

        <el-form-item label="User">
          <div class="el-input">
            <el-tag v-if="user">{{ user.fullname }}</el-tag>
            <UserSelector v-model="user_id" :selected="user_id" v-else></UserSelector>
          </div>
        </el-form-item>
        <el-form-item label="Membership">
          <div class="el-input">
            <el-tag v-if="userCard">{{ userCard.card_type.name }}</el-tag>

            <CardTypeSelector v-model="card" :selected="card" :multiple="false" v-else></CardTypeSelector>
          </div>
        </el-form-item>
        <el-form-item label="Package" v-if="card || userCard">
          <div class="el-input">
            <PackageSelector
              v-model="package_id"
              :loadedpackages="userCard && userCard.package ? [userCard.package] : []"
              :card_type_id="cardId"
              :multiple="true"
            ></PackageSelector>
          </div>
        </el-form-item>

        <el-form-item label="Valid Thru">
          <div class="el-input">
            <el-date-picker class="w-100" v-model="valid_thru" type="date" placeholder="Valid Thru"></el-date-picker>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="show = false" :disabled="loading">Cancel</el-button>
        <el-button type="primary" @click="process" :loading="loading" v-if="!pos">
          <span v-if="!editMode">{{ loading ? 'creating' : 'Create'}}</span>
          <span v-else>{{ loading ? 'edting' : 'Edit'}}</span>
        </el-button>
        <el-button type="primary" @click="moveToPos" :loading="loading" v-if="pos">
          <span >{{ loading ? 'moving...' : 'Move To POS'}}</span>
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import UserSelector from "@/components/common/UserSelector.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
import PackageSelector from "@/components/common/PackageSelector.vue";
import { get, remove, create, update } from "@/api/card";
import CardSerial from "@/components/CardSerial.vue";

export default {
  components: {
    UserSelector,
    CardTypeSelector,
    PackageSelector,
    CardSerial
  },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    editMode: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default: null
    },
    userCard: {
      type: Object,
      default: null
    },
    userPackage: {
      type: Object,
      default: null
    },
    requestId: {
      type: Number,
      default: null
    },
    pos: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      loading: false,
      form: {
        auto_generate_number: true,
        custom_number: false
      },
      user_id: null,
      card: null,
      package_id: null,
      valid_thru: null
    };
  },
  computed: {
    cardId() {
      if (this.userCard) return this.userCard.card_type.id;

      return this.card;
    }
  },
  watch: {
    card() {
      this.package_id = null;
    }
  },
  mounted() {
    if (this.editMode && this.userCard.package) {
      this.package_id = this.userCard.package.id;
    }

    if (this.editMode && this.userCard){
      this.valid_thru = this.userCard.valid_thru
    }
  },
  methods: {
    process() {
      this.editMode ? this.editCard() : this.createcard();
    },
    close() {
      this.$emit("closed");
    },
    createcard(pos = false) {
      this.loading = true;

      const user_id = this.user ? this.user.id : this.user_id;

      const card_type_id = this.userCard ? this.userCard.id : this.card;

      let requestData = {
        ...this.form,
        valid_thru: this.valid_thru,
        user_id,
        card_type_id,
        package_id: this.package_id,
        pos
      };

      if (this.requestId) {
        requestData["request_id"] = this.requestId;
      }

      create(requestData)
        .then(data => {

          if(pos){


          this.$message({
            message: "Moved To Pos",
            type: "success"
          });
      this.loading = false;

          this.close();

           this.$emit("posed", requestData);
return
          }
       
   this.$emit("created", data);
          if (this.requestId) {
            setTimeout(() => {
              const html = `
       <strong>cardNumber:</strong> ${data.number} <br>
       You can find it in Cards Issued page
      `;
              this.$alert(html, "Card Details", {
                dangerouslyUseHTMLString: true
              });
            }, 500);
          }

          this.loading = false;

          this.close();

          this.$message({
            message: "New card Added",
            type: "success"
          });
        })
        .catch(error => {
          this.loading = false;

          if (error.response.status === 500) {
            this.$message({
              message: error.response.data[0],
              type: "error"
            });
          }
        });
    },
    moveToPos(){
this.createcard(true);
    },
    editCard() {
      this.loading = true;
      update(this.userCard.id, { package_id: this.package_id , valid_thru: this.valid_thru}).then(() => {
        this.loading = false;

        this.close();

        this.$emit("updated");

        this.$message({
          message: "Card Package Updated",
          type: "success"
        });
      });
    }
  }
};
</script>