<template>
  <div class="app-container">
    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
          <el-col :span="6" class="text-right">
            <!-- <el-button type="primary" @click="showNewCard = true">New card</el-button> -->
          </el-col>
        </el-row>
        <el-row class="mt-2" :gutter="20">
          <el-col :span="12">
            <el-input
              :placeholder="'Search By ' + search.key"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="Name" value="name"></el-option>
                <el-option label="Mobile" value="mobile"></el-option>
                <el-option label="Card Number" value="card_number"></el-option>
              </el-select>
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="next"
              ></el-button>
            </el-input>
          </el-col>
        </el-row>
      </div>

      <el-table
        stripe
        :data="cards"
        style="width: 100%"
        v-loading="loadingDate"
      >
        <el-table-column label="Issued On">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ scope.row.created_at }}
          </template>
        </el-table-column>
        <el-table-column label="Valid Thru">
          <template slot-scope="scope">
            <router-link to="suppliers">
              <el-button type="text">{{ scope.row.valid_thru }}</el-button>
            </router-link>
          </template>
        </el-table-column>

        <el-table-column property="number" label="Number"></el-table-column>
        <el-table-column label="User">
          <template slot-scope="scope">
            <router-link to="users">
              <el-button type="text">{{ scope.row.user.fullname }}</el-button>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Membership">
          <template slot-scope="scope">
            <router-link to="memberships">
              <el-button type="text">{{ scope.row.card_type.name }}</el-button>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Status">
          <template slot-scope="scope">
            <el-tag :type="scope.row.deleted_at ? 'danger' : 'success'">
              {{ scope.row.deleted_at ? "Expired" : "Active" }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column label="Package">
          <template slot-scope="scope">
            <router-link to="packages">
              <el-button type="text">{{ scope.row.package.name }}</el-button>
            </router-link>
          </template>
        </el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button
              @click="deletecard(scope.row)"
              type="danger"
              icon="el-icon-delete"
              circle
            ></el-button>
            <el-button
              @click="showEditDialog(scope.row)"
              type="primary"
              icon="el-icon-edit"
              circle
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <create
      v-if="showNewCard"
      :show="showNewCard"
      @closed="showNewCard = false"
      @created="pushCard"
    ></create>

    <create
      v-if="editCard.show"
      :edit-mode="true"
      :user-card="editCard.card"
      :user="editCard.card.user"
      :show="editCard.show"
      @closed="editCard.show = false"
      @updated="next"
    ></create>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/card";
import Create from "@/components/Forms/card/Create.vue";

export default {
  components: {
    Create,
  },
  data() {
    return {
      cards: [],
      total: 0,
      loadingDate: true,
      editCard: {
        loading: false,
        show: false,
        card: {},
      },
      showNewCard: false,
      search: {
        key: "name",
        value: "",
      },
      filters: {
        with: "cardType,user,package",
        paginate: 10,
        page: 1,
        latest: true,
        withExpired: true,
      },
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    next() {
      this.loadingDate = true;

      const filters = {
        ...this.filters,
      };

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }

      get(filters).then(({ total, data, current_page }) => {
        this.cards = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    pushCard(data) {
      this.cards.unshift(data);
    },
    showEditDialog(card) {
      this.editCard.card = this.clone(card);

      this.editCard.show = true;
    },
    sendEditCard() {
      this.editCard.loading = true;

      update(this.editCard.card.id, {
        name: this.editCard.card.name,
      })
        .then((data) => {
          this.updateObject();

          this.editCard.loading = false;
          this.editCard.show = false;

          this.$message({
            message: "Card Updated",
            type: "success",
          });
        })
        .catch((_) => {
          this.editCard.loading = false;
          this.editCard.show = false;
        });
    },
    deletecard(card) {
      this.$confirm(`Are You Sure to delete "${card.number}" card?`)
        .then((_) => {
          this.$message({
            message: "card has been deleted",
            type: "success",
          });

          card.deleted_at = true;
          remove(card.id);
        })
        .catch((_) => {});
    },

    updateObject() {
      const cat = this.cards[
        this.cards.findIndex((card) => card.id === this.editCard.card.id)
      ];

      Object.keys(cat).forEach((key) => {
        if (cat.hasOwnProperty(key) && this.editCard.card.hasOwnProperty(key)) {
          cat[key] = this.editCard.card[key];
        }
      });
    },
  },
};
</script>