<template>
  <div class="app-container">
    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
        </el-row>
        <el-row class="mt-2" :gutter="20">
          <el-col :span="12">
            <el-input
              :placeholder="'Search By ' + search.key"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="User" value="user"></el-option>
                <el-option label="Supplier" value="merchant"></el-option>
              </el-select>
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="next"
              ></el-button>
            </el-input>
          </el-col>
          <el-col :span="12">
            <el-checkbox v-model="filters.bookings">Bookings</el-checkbox>
          </el-col>
        </el-row>
      </div>
      <el-table
        stripe
        :data="sales"
        style="width: 100%"
        v-loading="loadingDate"
      >
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ new Date(scope.row.created_at).toLocaleString() }}
          </template>
        </el-table-column>

        <el-table-column label="Offer">
          <template slot-scope="scope">{{ scope.row.offer.title }}</template>
        </el-table-column>
        <el-table-column label="User">
          <template slot-scope="scope">{{ scope.row.user.fullname }}</template>
        </el-table-column>
        <el-table-column label="Merchant">
          <template slot-scope="scope">{{
            scope.row.merchant.fullname
          }}</template>
        </el-table-column>
        <el-table-column label="User Rate">
          <template slot-scope="scope">
            <el-rate :value="scope.row.user_rate" disabled></el-rate>
          </template>
        </el-table-column>
        <el-table-column label="Supplier Rate">
          <template slot-scope="scope">
            <el-rate :value="scope.row.merchant_rate" disabled></el-rate>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
import { get } from "@/api/sales";

export default {
  data() {
    return {
      sales: [],
      total: 0,
      loadingDate: true,
      search: {
        key: "user",
        value: "",
      },
      filters: {
        page: 1,
        bookings: false,
      },
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    next() {
      this.loadingDate = true;

      const filters = {
        ...this.filters,
      };

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }
      get(filters).then(({ total, data, current_page }) => {
        this.sales = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
  },
};
</script>