<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
        <el-col :span="6" class="text-right">
          <el-button type="primary" @click="newCard.show = true">New Membership</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="cards" style="width: 100%" v-loading="loadingDate">
                 <el-table-column type="expand">

      <template slot-scope="props">

        <h4>Categories</h4>
    
<el-tag v-for="cat in props.row.categories" :key="cat.id" style="    margin: 0 10px;">
  {{cat.name}}
</el-tag>

      </template>

          </el-table-column>
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ (new Date(scope.row.created_at)).toLocaleString() }}
          </template>
        </el-table-column>
        <el-table-column property="name" label="Name"></el-table-column>

        <el-table-column label="# users">
          <template slot-scope="scope">
            <router-link to="suppliers">
              <el-button type="text">{{ scope.row.cards_count }}</el-button>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="# offers">
          <template slot-scope="scope">
            <router-link to="suppliers">
              <el-button type="text">{{ scope.row.offers_count }}</el-button>
            </router-link>
          </template>
        </el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button @click="deletecard(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
            <el-button @click="showEditDialog(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :title="'Edit ' + editCard.card.name"
      :visible.sync="editCard.show"
      :close-on-click-modal="!editCard.loading"
      :close-on-press-escape="!editCard.loading"
      :show-close="!editCard.loading"
    >
      <el-form :model="editCard.card">
        <el-form-item label="Name">
          <el-input v-model="editCard.card.name" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="Description">
          <el-input v-model="editCard.card.description" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Cover">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setEditCover"
              :on-remove="removeCover"
            >
              <img v-if="editCard.card.cover" :src="editCard.card.cover.url" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="Logo">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setEditLogo"
              :on-remove="removeLogo"
            >
              <img v-if="editCard.card.logo" :src="editCard.card.logo.url" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
          <el-form-item label="Logo Background Color">
            <el-color-picker v-model="editCard.card.bgColor"></el-color-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeEdit">Cancel</el-button>
        <el-button
          type="primary"
          @click="sendEditCard"
        >{{ editCard.loading ? 'editing ...' : 'Edit'}}</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="New Membership"
      :visible.sync="newCard.show"
      :close-on-click-modal="!newCard.loading"
      :close-on-press-escape="!newCard.loading"
      :show-close="!newCard.loading"
    >
      <el-form :model="newCard.form">
        <el-form-item label="Name">
          <el-input v-model="newCard.form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Description">
          <el-input v-model="newCard.form.description" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Cover">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setCover"
              :on-remove="removeCover"
            >
              <img v-if="newCard.cover" :src="newCard.cover.url" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
        <el-form-item label="Logo">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setLogo"
              :on-remove="removeLogo"
            >
              <img v-if="newCard.logo" :src="newCard.logo.url" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>

        <el-form-item label="Logo Background Color">
            <el-color-picker v-model="newCard.form.bgColor"></el-color-picker>
        </el-form-item>

        <el-form-item label="Gift?">
          <el-checkbox v-model="newCard.form.gift">Gift</el-checkbox>
        </el-form-item>

        <el-form-item label="Coupons" v-if="newCard.form.gift">
          <el-input-number
            class="w-100"
            v-model="newCard.form.points"
            :min="0"
            :max="1000"
            :step="5"
            size="large"
          ></el-input-number>
        </el-form-item>

        <el-form-item label="Trageting" v-if="newCard.form.gift">
          <el-select v-model="newCard.form.target" placeholder="Select">
            <el-option label="New Users" value="new_users"></el-option>
            <el-option label="Paid Users" value="paid_users"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="newCard.show = false" :disabled="newCard.loading">Cancel</el-button>
        <el-button
          type="primary"
          @click="createcard"
          :loading="newCard.loading"
        >{{ newCard.loading ? 'creating' : 'Create'}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/card-type";

export default {
  data() {
    return {
      cards: [],
      total: 0,
      loadingDate: true,
      editCard: {
        loading: false,
        show: false,
        logoDirty:false,
        card: {}
      },

      newCard: {
        loading: false,
        show: false,
        cover: null,
        coverDirty: false,
        logo: null,
        logoDirty: false,
        form: {
          gift: false,
          points: 10,
          bgColor:""
        }
      },
      filters: {
        count: "cards,offers",
        with:'categories',
        paginate: 10,
        page: 1
      }
    };
  },
     watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.cards = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    showEditDialog(card) {
      const x = this.clone(card);

      let n = x.cover;

      x.cover = {};

      x.cover.url = n;

      this.editCard.card = x;

      this.editCard.show = true;
    },

    closeEdit(){
this.editCard.show = false
this.editCard.logoDirty = false
    },
    async sendEditCard() {
      this.editCard.loading = true;

      let requestData = {
        name: this.editCard.card.name,
        description: this.editCard.card.description,
        bgColor: this.editCard.card.bgColor
      };

if(this.editCard.coverDirty){
      const cover = await this.uploadCover(false);

      requestData["cover"] = cover;

}
if(this.editCard.logoDirty){
      const logo = await this.uploadLogo(false);

      requestData["logo"] = logo;

}

      update(this.editCard.card.id, requestData)
        .then(data => {
          this.updateObject();

          this.editCard.loading = false;
          this.editCard.show = false;

          this.$message({
            message: "Card Updated",
            type: "success"
          });
        })
        .catch(_ => {
          this.editCard.loading = false;
          this.editCard.show = false;
        });
    },
    setCover(cover) {
      this.newCard.coverDirty = true;

      this.newCard.cover = {
        ...cover,
        url: URL.createObjectURL(cover.raw)
      };
    },
    setLogo(logo) {
      this.newCard.logoDirty = true;

      this.newCard.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw)
      };
    },
    setEditCover(cover) {
      this.editCard.logoDirty = true;

      this.editCard.card.cover = {
        ...cover,
        url: URL.createObjectURL(cover.raw)
      };
    },
    setEditLogo(logo) {
      this.editCard.logoDirty = true;

      this.editCard.card.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw)
      };
    },
    removeCover() {
      this.newCard.cover = null;
    },
    removeLogo() {
      this.newCard.logo = null;
    },
    async uploadCover(newCard = true) {
      let x = newCard ? this.newCard.cover.name : this.editCard.card.cover.name;
      let y = newCard ? this.newCard.cover.raw : this.editCard.card.cover.raw;

      const ref = this.$firebase.storage().child(`memberships/covers/${x}`);

      await ref.put(y);

      return await ref.getDownloadURL();
    },
    async uploadLogo(newCard = true) {
      let x = newCard ? this.newCard.logo.name : this.editCard.card.logo.name;
      let y = newCard ? this.newCard.logo.raw : this.editCard.card.logo.raw;

      const ref = this.$firebase.storage().child(`memberships/logos/${x}`);

      await ref.put(y);

      return await ref.getDownloadURL();
    },
    deletecard(card) {
      this.$confirm(`Are You Sure to delete ${card.name} card?`)
        .then(_ => {
          this.$message({
            message: "card has been deleted",
            type: "success"
          });

          this.cards.splice(this.cards.indexOf(card), 1);

          remove(card.id);
        })
        .catch(_ => {});
    },
    async createcard() {
      this.newCard.loading = true;

      const requestData = {
        ...this.newCard.form
      };

      if (this.newCard.cover) {
        const logo = await this.uploadCover();

        requestData["cover"] = logo;
      }
      if (this.newCard.logo) {
        const logo = await this.uploadLogo();

        requestData["cover"] = logo;
      }

      create(requestData)
        .then(data => {
          data.cards_count = 0;
          data.offers_count = 0;

          this.cards.unshift(data);

          this.newCard.loading = false;
          this.newCard.show = false;

          this.$message({
            message: "New card Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.newCard.loading = false;
          this.newCard.show = false;
        });
    },
    updateObject() {
      const cat = this.cards[
        this.cards.findIndex(card => card.id === this.editCard.card.id)
      ];

      Object.keys(cat).forEach(key => {
        if (cat.hasOwnProperty(key) && this.editCard.card.hasOwnProperty(key)) {
          cat[key] = this.editCard.card[key];
        }
      });
    }
  }
};
</script>