<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <div></div>
        </el-col>
        <el-col :span="6">
          <el-button type="primary" @click="showNewcontact = true">New Contact Info</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="contacts" style="width: 100%" v-loading="loadingDate">
        <el-table-column label="Type">
          <template slot-scope="scope">{{ scope.row.type }}</template>
        </el-table-column>
        <el-table-column label="Value">
          <template slot-scope="scope">{{ scope.row.value }}</template>
        </el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button @click="deletecontact(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <create
      v-if="showNewcontact"
      :show="showNewcontact"
      @closed="showNewcontact = false"
      @created="pushcontact"
    ></create>

    <el-dialog
      :title="'Edit ' + editContact.contact.name"
      :visible.sync="editContact.show"
      :close-on-click-modal="!editContact.loading"
      :close-on-press-escape="!editContact.loading"
      :show-close="!editContact.loading"
      width="30%"
    >
      <el-input v-model="editContact.contact.name"></el-input>

      <span slot="footer" class="dialog-footer">
        <el-button @click="editContact.show = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="sendEditContact"
        >{{ editContact.loading ? 'editing ...' : 'Edit'}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/contacts";
import Create from "@/components/Forms/contact/Create.vue";

export default {
  components: {
    Create
  },
  data() {
    return {
      contacts: [],
      total: 0,
      loadingDate: true,
      editContact: {
        loading: false,
        show: false,
        contact: {}
      },
      showNewcontact: false,

      filters: {
        with: "contactType,user",
        paginate: 10,
        page: 1
      }
    };
  },
     watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.contacts = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    pushcontact(data) {
      this.contacts.unshift(data);
    },
    showEditDialog(contact) {
      this.editContact.contact = this.clone(contact);

      this.editContact.show = true;
    },
    sendEditContact() {
      this.editContact.loading = true;

      update(this.editContact.contact.id, {
        name: this.editContact.contact.name
      })
        .then(data => {
          this.updateObject();

          this.editContact.loading = false;
          this.editContact.show = false;

          this.$message({
            message: "contact Updated",
            type: "success"
          });
        })
        .catch(_ => {
          this.editContact.loading = false;
          this.editContact.show = false;
        });
    },
    deletecontact(contact) {
      this.$confirm(
        `Are You Sure to delete this ${contact.type} ${contact.value} ?`
      )
        .then(_ => {
          this.$message({
            message: "contact has been deleted",
            type: "success"
          });

          this.contacts.splice(this.contacts.indexOf(contact), 1);

          remove(contact.id);
        })
        .catch(_ => {});
    },

    updateObject() {
      const cat = this.contacts[
        this.contacts.findIndex(
          contact => contact.id === this.editContact.contact.id
        )
      ];

      Object.keys(cat).forEach(key => {
        if (
          cat.hasOwnProperty(key) &&
          this.editContact.contact.hasOwnProperty(key)
        ) {
          cat[key] = this.editContact.contact[key];
        }
      });
    }
  }
};
</script>