<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
        <el-col :span="6" class="text-right">
          <el-button type="primary" @click="newPackage.show = true">New Package</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="packages" style="width: 100%" v-loading="loadingDate">
        <el-table-column type="expand">
          <template slot-scope="props">
            <h4>Categories</h4>

            <div v-if="props.row.card_type">
              <el-tag v-for="cat in props.row.card_type.categories" :key="cat.id">{{cat.name}}</el-tag>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ (new Date(scope.row.created_at)).toLocaleString() }}
          </template>
        </el-table-column>
        <el-table-column property="name" label="Name"></el-table-column>

        <el-table-column label="membership">
          <template slot-scope="scope">{{ scope.row.card_type.name }}</template>
        </el-table-column>
        <el-table-column label="Coupons">
          <template slot-scope="scope">{{ scope.row.points }}</template>
        </el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button @click="deletecard(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
            <el-button @click="showEditDialog(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :title="'Edit ' + editCard.card.name"
      :visible.sync="editCard.show"
      :close-on-click-modal="!editCard.loading"
      :close-on-press-escape="!editCard.loading"
      :show-close="!editCard.loading"
      width="30%"
    >
      <el-form :model="newPackage.form">
        <el-form-item label="Name">
          <el-input v-model="editCard.card.name"></el-input>
        </el-form-item>
        <el-form-item label="Price">
          <el-input-number
            class="w-100"
            v-model="editCard.card.price"
            :min="0"
            step="1"
            size="large"
          ></el-input-number>
        </el-form-item>
        <el-form-item label="Coupons">
          <el-input-number
            class="w-100"
            v-model="editCard.card.points"
            :min="0"
            :max="100000"
            :step="5"
            size="large"
          ></el-input-number>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="editCard.card.in_stock">In Stock ?</el-checkbox>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editCard.show = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="sendEditCard"
        >{{ editCard.loading ? 'editing ...' : 'Edit'}}</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="New Package"
      :visible.sync="newPackage.show"
      :close-on-click-modal="!newPackage.loading"
      :close-on-press-escape="!newPackage.loading"
      :show-close="!newPackage.loading"
    >
      <el-form :model="newPackage.form">
        <el-form-item label="Name">
          <el-input v-model="newPackage.form.name"></el-input>
        </el-form-item>
        <el-form-item label="Price">
          <el-input-number
            class="w-100"
            v-model="newPackage.form.price"
            :min="10"
            step="1"
            size="large"
          ></el-input-number>
        </el-form-item>
        <el-form-item label="Membership">
          <CardTypeSelector
            v-model="newPackage.form.card_type_id"
            :selected="newPackage.form.card_type_id"
            :multiple="false"
          ></CardTypeSelector>
        </el-form-item>
        <el-form-item label="Coupons">
          <el-input-number
            class="w-100"
            v-model="newPackage.form.points"
            :min="0"
            :max="100000"
            :step="5"
            size="large"
          ></el-input-number>
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="newPackage.form.in_stock">In Stock ?</el-checkbox>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="newPackage.show = false" :disabled="newPackage.loading">Cancel</el-button>
        <el-button
          type="primary"
          @click="createcard"
          :loading="newPackage.loading"
        >{{ newPackage.loading ? 'creating' : 'Create'}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/packages";

import CardTypeSelector from "@/components/common/CardTypeSelector.vue";

export default {
  components: {
    CardTypeSelector,
  },
  data() {
    return {
      packages: [],
      total: 0,
      loadingDate: true,
      editCard: {
        loading: false,
        show: false,
        card: {},
      },
      newPackage: {
        loading: false,
        show: false,
        form: {
          card_type_id: null,
          name: "",
          points: 10,
          price: 50,
          in_stock: true,
        },
      },
      filters: {
        with: "cardType.categories",
        paginate: 10,
        page: 1,
      },
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.packages = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    showEditDialog(card) {
      this.editCard.card = this.clone(card);

      this.editCard.show = true;
    },
    sendEditCard() {
      this.editCard.loading = true;

      update(this.editCard.card.id, {
        name: this.editCard.card.name,
        points: this.editCard.card.points,
        price: this.editCard.card.price,
        in_stock: this.editCard.card.in_stock,
      })
        .then((data) => {
          this.updateObject();

          this.editCard.loading = false;
          this.editCard.show = false;

          this.$message({
            message: "Card Updated",
            type: "success",
          });
        })
        .catch((_) => {
          this.editCard.loading = false;
          this.editCard.show = false;
        });
    },
    deletecard(card) {
      this.$confirm(`Are You Sure to delete ${card.name} card?`)
        .then((_) => {
          this.$message({
            message: "card has been deleted",
            type: "success",
          });

          this.packages.splice(this.packages.indexOf(card), 1);

          remove(card.id);
        })
        .catch((_) => {});
    },
    createcard() {
      this.newPackage.loading = true;

      create(this.newPackage.form)
        .then((data) => {
          this.packages.unshift(data);

          this.newPackage.loading = false;
          this.newPackage.show = false;

          this.$message({
            message: "New Package Added",
            type: "success",
          });
        })
        .catch((_) => {
          this.newPackage.loading = false;
          this.newPackage.show = false;
        });
    },
    updateObject() {
      const cat = this.packages[
        this.packages.findIndex((card) => card.id === this.editCard.card.id)
      ];

      Object.keys(cat).forEach((key) => {
        if (cat.hasOwnProperty(key) && this.editCard.card.hasOwnProperty(key)) {
          cat[key] = this.editCard.card[key];
        }
      });
    },
  },
};
</script>