<template>
  <div class="app-container">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
        <el-col :span="6" class="text-right">
          <el-button type="primary" :outline="true" @click="newCategory.show = true">New Category</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="categories" style="width: 100%" v-loading="loadingDate">
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ (new Date(scope.row.created_at)).toLocaleString() }}
          </template>
        </el-table-column>
        <el-table-column property="name" label="Name"></el-table-column>

        <el-table-column label="Icon">
          <template slot-scope="scope">
            <router-link to="suppliers">
              <i :class="scope.row.icon" v-if="scope.row.icon_type == 'svg'"></i>
              <img :src="scope.row.icon" v-else />
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Membership">
          <template
            slot-scope="scope"
          >{{ scope.row.card_types.length ? scope.row.card_types[0].name : '--' }}</template>
        </el-table-column>
        <el-table-column label="# Suppliers">
          <template slot-scope="scope">
            <router-link to="suppliers">
              <el-button type="text">{{ scope.row.merchants_count }}</el-button>
            </router-link>
          </template>
        </el-table-column>

        <el-table-column label="Actions">
          <template slot-scope="scope">
            <el-button
              @click="deleteCategory(scope.row)"
              type="danger"
              icon="el-icon-delete"
              circle
            ></el-button>
            <el-button @click="showEditDialog(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog
      :title="'Edit ' + editCategory.category.name"
      :visible.sync="editCategory.show"
      :close-on-click-modal="!editCategory.loading"
      :close-on-press-escape="!editCategory.loading"
      :show-close="!editCategory.loading"
      width="30%"
    >
      <el-form :model="editCategory.category">
        <el-form-item label="Name">
          <el-input v-model="editCategory.category.name"></el-input>
        </el-form-item>
        <el-form-item label="Icon">
          <el-select v-model="editCategory.category.icon_type">
            <el-option label="Icon" value="svg"></el-option>
            <el-option label="Image to Icon" value="img"></el-option>
          </el-select>
        </el-form-item>
           <el-form-item label="Icon" v-if="editCategory.category.icon_type == 'svg'">
          <font-awesome-picker v-model="editCategory.category.temp_icon"></font-awesome-picker>
        </el-form-item>
        <el-form-item label="Icon" v-if="editCategory.category.icon_type == 'img'">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setIcon"
              :on-remove="removeIcon"
            >
              <img v-if="editCategory.category.temp_icon.url" :src="editCategory.category.temp_icon.url" class="avatar" width="50" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editCategory.show = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="sendEditCategory"
        >{{ editCategory.loading ? 'editing ...' : 'Edit'}}</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="New Category"
      :visible.sync="newCategory.show"
      :close-on-click-modal="!newCategory.loading"
      :close-on-press-escape="!newCategory.loading"
      :show-close="!newCategory.loading"
    >
      <el-form :model="newCategory.form">
        <el-form-item label="Name">
          <el-input v-model="newCategory.form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Memberhsip">
          <CardTypeSelector
            v-model="newCategory.form.card_type"
            :selected="newCategory.form.card_type"
            :multiple="false"
          ></CardTypeSelector>
        </el-form-item>
        <el-form-item label="Icon">
          <el-select v-model="newCategory.form.icon_type">
            <el-option label="Icon" value="svg"></el-option>
            <el-option label="Image to Icon" value="img"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Icon" v-if="newCategory.form.icon_type == 'svg'">
          <font-awesome-picker v-model="newCategory.form.icon"></font-awesome-picker>
        </el-form-item>
        <el-form-item label="Icon" v-if="newCategory.form.icon_type == 'img'">
          <div class="el-input">
            <el-upload
              action="#"
              class="avatar-uploader"
              :auto-upload="false"
              :multiple="false"
              :show-file-list="false"
              :on-change="setIcon"
              :on-remove="removeIcon"
            >
              <img v-if="icon" :src="icon.url" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="newCategory.show = false" :disabled="newCategory.loading">Cancel</el-button>
        <el-button
          type="primary"
          @click="createCategory"
          :loading="newCategory.loading"
        >{{ newCategory.loading ? 'creating' : 'Create'}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/category";
import FontAwesomePicker from "bootstrap-vue-font-awesome-picker";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";
var resizeImage = require("resize-image");

export default {
  components: {
    FontAwesomePicker,
    CardTypeSelector
  },
  data() {
    return {
      categories: [],
      total: 0,
      loadingDate: true,
      icon: null,
      editCategory: {
        loading: false,
        show: false,
        iconDirty:false,
        category: {}
      },
      newCategory: {
        loading: false,
        show: false,
        form: {
          icon: "",
          icon_type: "svg",
          card_type: null
        }
      },
      filters: {
        with: "cardTypes",
        count: "merchants",
        paginate: 10,
        page: 1
      }
    };
  },
  watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    },
    "editCategory.show":function(){
      this.editCategory.iconDirty = false;
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.categories = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    showEditDialog(category) {
      
      const cat = this.clone(category);

if(cat.icon_type == 'img'){
  cat.temp_icon = {url : cat.icon }
}else{
   cat.temp_icon = cat.icon;
}
   

      this.editCategory.category = cat;

      this.editCategory.show = true;
    },
    uploadIcon() {
      return new Promise((resolve, reject) => {
        var img = new Image();
        img.onload = () => {
          var data = resizeImage.resize(img, 50, 50, resizeImage.PNG);

const name = this.editCategory.show?this.editCategory.category.temp_icon.name : this.icon.name;
          const ref = this.$firebase.storage().child(`icons/${name}`);

          ref.putString(data, "data_url").then(() => {
            resolve(ref.getDownloadURL());
          });
        };

          if(this.editCategory.show){
img.src = this.editCategory.category.temp_icon.url;
          }else{
  img.src = this.icon.url; // local image url
          }
      
      });
    },
    setIcon(icon) {

      if(this.editCategory.show){
        this.editCategory.iconDirty = true;

        this.editCategory.category.temp_icon = {
        ...icon,
        url: URL.createObjectURL(icon.raw)
      };
      }else{
  this.icon = {
        ...icon,
        url: URL.createObjectURL(icon.raw)
      };
      }

    
    },
    removeIcon() {
      if(this.editCategory.show){
        this.editCategory.category.temp_icon = null;
      }else{

      }
      this.icon = null;
    },
    async sendEditCategory() {
      this.editCategory.loading = true;


      if (this.editCategory.category.icon_type == "img" && this.editCategory.iconDirty) {
        this.editCategory.category.icon = await this.uploadIcon();
      }

      update(this.editCategory.category.id, this.editCategory.category)
        .then(data => {
          this.updateObject();

          this.editCategory.loading = false;
          this.editCategory.show = false;

          this.$message({
            message: "New Category Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.editCategory.loading = false;
          this.editCategory.show = false;
        });
    },
    deleteCategory(category) {
      this.$confirm(`Are You Sure to delete ${category.name} category?`)
        .then(_ => {
          this.$message({
            message: "Category has been deleted",
            type: "success"
          });

          this.categories.splice(this.categories.indexOf(category), 1);

          remove(category.id);
        })
        .catch(_ => {});
    },
    async createCategory() {
      this.newCategory.loading = true;

      if (this.newCategory.form.icon_type == "img") {
        this.newCategory.form.icon = await this.uploadIcon();
      }

      create(this.newCategory.form)
        .then(data => {
          data.merchants_count = 0;

          this.categories.unshift(data);

          this.newCategory.loading = false;
          this.newCategory.show = false;

          this.$message({
            message: "New Category Added",
            type: "success"
          });
        })
        .catch(_ => {
          this.newCategory.loading = false;
          this.newCategory.show = false;
        });
    },
    updateObject() {
      const cat = this.categories[
        this.categories.findIndex(
          category => category.id === this.editCategory.category.id
        )
      ];

      Object.keys(cat).forEach(key => {
        if (
          cat.hasOwnProperty(key) &&
          this.editCategory.category.hasOwnProperty(key)
        ) {
          cat[key] = this.editCategory.category[key];
        }
      });
    }
  }
};
</script>

<style>
.form-control {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.form-control:focus {
  border-color: #409eff;
  outline: 0;
}

.btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.btn.btn-light {
  display: none;
}
</style>