<template>
  <div class="app-container">
    <Importing :api="'import/users'" @imported="next"></Importing>

    <el-card shadow="never">
      <div slot="header">
        <el-row>
          <el-col :span="18">
            <el-pagination
              class="mt-1"
              background
              layout="prev, pager, next"
              :total="total"
              :current-page.sync="filters.page"
            ></el-pagination>
          </el-col>
          <el-col :span="6" class="text-right">
            <el-button type="primary" @click="showNewMerchant = true"
              >New User</el-button
            >
          </el-col>
        </el-row>
        <el-row class="mt-2" :gutter="20">
          <el-col :span="10">
            <el-input
              :placeholder="'Search By ' + search.key"
              class="input-with-select"
              v-model="search.value"
              clearable
            >
              <el-select
                v-model="search.key"
                slot="prepend"
                placeholder="Search By"
                class="merchant-select"
              >
                <el-option label="Name" value="name"></el-option>
                <el-option label="Email" value="email"></el-option>
                <el-option label="Mobile" value="mobile"></el-option>
                <el-option label="Card Number" value="card_number"></el-option>
              </el-select>
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="next"
              ></el-button>
            </el-input>
          </el-col>

          <el-col :span="4">
            <CardTypeSelector
              placholder="Filter by Membership"
              v-model="filterByCardType"
              :selected="filterByCardType"
            ></CardTypeSelector>
          </el-col>
          <el-col :span="4">
            <el-checkbox v-model="filters.blocked">Only Blocked</el-checkbox>
          </el-col>
        </el-row>
      </div>
      <el-row v-if="selected.length" style="margin-bottom: 2rem">
        <el-col :span="8">
          <el-button
            @click="deleteAllUsers"
            type="danger"
            icon="el-icon-delete"
            circle
          ></el-button>
        </el-col>
        <el-col :span="8">
          <el-button @click="addToSos" type="primary">Add To SOS</el-button>
        </el-col>
        <el-col :span="8">
          <el-button @click="removeFromSos" type="danger"
            >Remove From SOS</el-button
          >
        </el-col>
      </el-row>
      <el-table
        stripe
        :data="users"
        style="width: 100%"
        v-loading="loadingDate"
        @sort-change="changeSort"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="expand">
          <template slot-scope="props">
            <h4>Cards</h4>
            <el-table stripe :data="props.row.cards">
              <el-table-column label="Number">
                <template slot-scope="scope">
                  {{ scope.row.number }}
                </template>
              </el-table-column>
              <el-table-column label="Membership">
                <template slot-scope="scope">
                  {{ scope.row.card_type.name }}
                </template>
              </el-table-column>

              <el-table-column label="Package">
                <template slot-scope="scope">
                  {{ scope.row.package.name }}
                </template>
              </el-table-column>
              <el-table-column label="Status">
                <template slot-scope="scope">
                  <el-tag :type="scope.row.deleted_at ? 'danger' : 'success'">
                    {{ scope.row.deleted_at ? "Expired" : "Active" }}
                  </el-tag>
                </template>
              </el-table-column>
            </el-table>
            <!-- <h4>Car types</h4> -->

            <!-- <el-tag v-for="cartype in props.row.car_types" :key="cartype.id">
              {{ cartype.name }}
            </el-tag> -->
          </template>
        </el-table-column>

        <el-table-column type="selection" width="55"></el-table-column>

        <el-table-column
          property="fullname"
          label="Name"
          sortable
        ></el-table-column>
        <el-table-column property="email" label="Email"></el-table-column>
        <el-table-column property="sos" label="SOS" sortable>
          <template slot-scope="scope">{{
            scope.row.sos ? "TRUE" : "FALSE"
          }}</template>
        </el-table-column>
        <el-table-column label="Actions" fixed="right" width="250">
          <template slot-scope="scope">
            <el-button
              @click="currentEditMerchant = scope.row"
              type="primary"
              icon="el-icon-edit"
              style="width: 50%"
              >Edit</el-button
            >
            <el-button
              @click="deleteUSer(scope.row)"
              type="danger"
              icon="el-icon-delete"
              circle
            ></el-button>
            <el-button
              @click="toggleBlock(scope.row)"
              :type="scope.row.blocked_to ? 'danger' : 'primary'"
              icon="el-icon-delete"
              style="margin-top: 5px"
              v-if="scope.row.type != 'pos'"
              >{{ scope.row.blocked_to ? "Un Block" : "Block" }}</el-button
            >
            <el-button
              @click="unLock(scope.row)"
              style="margin-top: 5px"
              v-if="scope.row.uuid && scope.row.type != 'pos'"
              >UnLock</el-button
            >
            <el-button
              @click="addCard(scope.row)"
              v-if="scope.row.type != 'pos'"
              style="margin-top: 5px"
              >Add Card</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <CreateUpdateForm
      v-if="showNewMerchant"
      :edit-mode="false"
      :show="showNewMerchant"
      @closed="showNewMerchant = false"
      @created="addNewMerchant"
    ></CreateUpdateForm>

    <CreateUpdateForm
      v-if="currentEditMerchant != null"
      :edit-mode="true"
      :merchant="currentEditMerchant"
      :show="currentEditMerchant != null"
      @closed="currentEditMerchant = null"
      @updated="updateObject"
    ></CreateUpdateForm>

    <create
      v-if="showNewCard"
      :show="showNewCard"
      @closed="showNewCard = false"
      @created="removeRequest"
      :user="currentUser"
    ></create>
  </div>
</template>

<script>
import { get, remove, block, unlock, addSos, removeSos } from "@/api/user";
import CreateUpdateForm from "@/components/Forms/users/CreateUpdateForm.vue";
import create from "@/components/Forms/card/Create.vue";
import CategorySelector from "@/components/common/CategorySelector.vue";
import CardTypeSelector from "@/components/common/CardTypeSelector.vue";

import Importing from "@/components/Importing.vue";
export default {
  components: {
    CreateUpdateForm,
    CategorySelector,
    CardTypeSelector,
    Importing,
    create,
  },
  data() {
    return {
      users: [],
      selected: [],
      total: 0,
      loadingDate: true,
      showNewMerchant: false,
      currentEditMerchant: null,
      filterByCardType: [],
      search: {
        key: "name",
        value: "",
      },
      orderBy: {
        key: "",
        order: "",
      },
      filterByCategories: [],
      filters: {
        with: "vehicles",
        paginate: 10,
        page: 1,
        pos: false,
        blocked: false,
      },
      showNewCard: false,
      currentUser: {},
    };
  },
  watch: {
    filters: {
      handler: function () {
        this.next();
      },
      deep: true,
      immediate: true,
    },

    filterByCategories() {
      this.next();
    },
    filterByCardType() {
      this.next();
    },
  },
  mounted() {},
  methods: {
    addCard(user) {
      this.currentUser = user;
      this.showNewCard = true;
    },
    next() {
      const filters = {
        ...this.filters,
      };

      if (this.search.value != "") {
        filters[this.search.key] = this.search.value;
      }
      if (this.orderBy.key != "") {
        filters.orderBy = this.orderBy.key + "," + this.orderBy.order;
      }
      if (this.filterByCategories.length) {
        filters.filterByCategory = this.filterByCategories.join(",");
      }

      if (this.filterByCardType.length) {
        filters.filterByCardType = this.filterByCardType.join(",");
      }

      this.loadingDate = true;
      get(filters).then(({ total, data, current_page }) => {
        this.users = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    changeSort(e) {
      this.orderBy.key = e.prop;
      this.orderBy.order = e.prop.order === "descending" ? "desc" : "asc";

      this.next();
    },

    handleSelectionChange(e) {
      this.selected = e;
    },
    addNewMerchant(merchant) {
      this.users.unshift(merchant);
    },
    deleteUSer(merchant) {
      this.$confirm(`Are You Sure to delete ${merchant.fullname} user?`)
        .then((_) => {
          this.$message({
            message: "user has been deleted",
            type: "success",
          });

          this.users.splice(this.users.indexOf(merchant), 1);

          remove(merchant.id);
        })
        .catch((_) => {});
    },
    deleteAllUsers() {
      this.$confirm(`Are You Sure to delete all selected users ?`)
        .then((_) => {
          this.$message({
            message: "Users have been deleted",
            type: "success",
          });

          this.selected.forEach((merchant) => {
            this.users.splice(this.users.indexOf(merchant), 1);

            remove(merchant.id);
          });
        })
        .catch((_) => {});
    },
    addToSos() {
      this.$confirm(`Are You Sure to add all selected users to SOS ?`)
        .then((_) => {
          this.$message({
            message: "Users have been added To SOS",
            type: "success",
          });

          const ids = this.selected.map((d) => d.id);

          this.selected.forEach((merchant) => {
            merchant.sos = true;
          });

          addSos(ids);
        })
        .catch((_) => {});
    },
    removeFromSos() {
      this.$confirm(`Are You Sure to delete all selected users from SOS ?`)
        .then((_) => {
          this.$message({
            message: "Users have been removed from SOS",
            type: "success",
          });

          const ids = this.selected.map((d) => d.id);

          this.selected.forEach((merchant) => {
            merchant.sos = false;
          });

          removeSos(ids);
        })
        .catch((_) => {});
    },
    toggleBlock(user) {
      const x = user.is_blocked ? " Unblocked" : " Blocked";

      this.$message({
        message: "user has been " + x,
        type: "success",
      });

      user.is_blocked = !user.is_blocked;

      if (this.filters.blocked && !user.is_blocked) {
        this.users.splice(this.users.indexOf(user), 1);
      }
      block(user);
    },

    unLock(user) {
      this.$message({
        message: "user has been unlocked",
        type: "success",
      });

      unlock(user);
    },

    updateObject(updatedMerchant) {
      const cat =
        this.users[
          this.users.findIndex((merchant) => merchant.id === updatedMerchant.id)
        ];
      debugger;
      Object.keys(cat).forEach((key) => {
        if (cat.hasOwnProperty(key) && updatedMerchant.hasOwnProperty(key)) {
          cat[key] = updatedMerchant[key];
        }
      });
    },
  },
};
</script>

<style >
.pac-container {
  z-index: 9999 !important;
}
.vue-map-container {
  height: 300px;
  margin-top: 20px;
}

.merchant-select .el-input {
  width: 110px;
}
</style>