<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
        <el-col :span="6" class="text-right">
          <el-button type="primary" @click="showAdForm = true">New AD</el-button>
        </el-col>
      </el-row>
      <el-table stripe :data="ads" style="width: 100%" v-loading="loadingDate">


        <el-table-column label="Created At" prop="created_at"></el-table-column>
          <el-table-column label="Actions" fixed="right" width="250">
          <template slot-scope="scope">
                        <el-button @click="currentEditAd = scope.row" type="primary" icon="el-icon-edit" circle></el-button>

            <el-button @click="deleteAd(scope.row)" type="danger" icon="el-icon-delete" circle></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <CreateUpdateForm
      v-if="showAdForm"
      :edit-mode="false"
      :show="showAdForm"
      @closed="showAdForm = false"
      @newAd="addAd"
    ></CreateUpdateForm>

  <CreateUpdateForm
      v-if="currentEditAd != null"
      :edit-mode="true"
      :ad="currentEditAd"
      :show="currentEditAd != null"
      @closed="currentEditAd = null"
      @updated="reload"
    ></CreateUpdateForm>

  </div>
</template>

<script>
import { get, remove, create, update } from "@/api/ads";
const cronTime = require("cron-time-generator");
import cronstrue from "cronstrue";

import CreateUpdateForm from "@/components/Forms/ad/CreateUpdateForm.vue";

export default {
  components: {
    CreateUpdateForm
  },
  data() {
    return {
      ads: [],
      total: 0,
      loadingDate: true,
      currentEditAd:null,
      showAdForm:false,
      filters: {
        count: "ads,offers",
        paginate: 10,
        page: 1
      },

    };
  },
    watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    next() {
      this.loadingDate = true;
      get(this.filters).then(({ total, data, current_page }) => {
        this.ads = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    cr(x) {
      return cronstrue.toString(x);
    },
    addAd(ad){
        this.ads.unshift(ad);
    },
    reload(){

      if(this.filters.page != 1){
 this.filters.page = 1;

      }else{
  this.next();
      }
     

     
    },


    showEditDialog(card) {
      this.editCard.card = this.clone(card);

      this.editCard.show = true;
    },
    deleteAd(ad) {
      this.$confirm(`Are You Sure to delete this ad?`)
        .then(_ => {
          this.$message({
            message: "ad has been deleted",
            type: "success"
          });

          this.ads.splice(this.ads.indexOf(ad), 1);

          remove(ad.id);
        })
        .catch(_ => {});
    },

    updateObject() {
      const cat = this.ads[
        this.ads.findIndex(card => card.id === this.editCard.card.id)
      ];

      Object.keys(cat).forEach(key => {
        if (cat.hasOwnProperty(key) && this.editCard.card.hasOwnProperty(key)) {
          cat[key] = this.editCard.card[key];
        }
      });
    }
  }
};
</script>