<template>
  <el-dialog
    :visible="show"
    :close-on-click-modal="!loading"
    :close-on-press-escape="!loading"
    :show-close="false"
    @close="close"
    v-loading="loadingCardTypes"
  >
    <el-steps :space="200" :active="step" simple slot="title">
      <el-step title="Enter Details"></el-step>
      <el-step title="Discounts"></el-step>
    </el-steps>
    <el-form :model="form" v-if="step === 0">
      <el-form-item label="Title">
        <el-input v-model="form.title" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Discription">
        <el-input
          type="textarea"
          :rows="2"
          v-model="form.description"
        ></el-input>
      </el-form-item>
      <el-form-item label="Supplier">
        <div class="el-input">
          <el-tag v-if="editMode">{{ offer.merchant.fullname }}</el-tag>

          <MerchantSelector
            v-model="merchant_id"
            :selected="merchant_id"
            placholder="Select Supplier"
            v-else
          ></MerchantSelector>
        </div>
      </el-form-item>
      <el-form-item label="Branches" v-if="merchant_id">
        <div class="el-input">
          <BranchSelector
            v-model="branch_ids"
            :merchant_id="merchant_id"
          ></BranchSelector>
        </div>
      </el-form-item>
      <el-form-item label="Cover">
        <div class="el-input">
          <el-upload
            action="#"
            class="avatar-uploader"
            :auto-upload="false"
            :multiple="false"
            :show-file-list="false"
            :on-change="setLogo"
            :on-remove="removeLogo"
          >
            <img v-if="logo" :src="logo.url" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </div>
      </el-form-item>
      <el-form-item label="Service Time (minutes)">
        <el-input-number
          v-model="form.service_time"
          :min="1"
          class="w-100"
        ></el-input-number>
      </el-form-item>
      <el-form-item label="Client Per time">
        <el-input-number
          v-model="form.user_per_time"
          :min="1"
          class="w-100"
        ></el-input-number>
      </el-form-item>
      <!-- <el-form-item label="Repeated Times" v-if="!editMode">
        <div class="el-input">
          <el-input-number
            v-model="form.repeated_times"
            :min="1"
            :max="100"
            class="w-100"
          ></el-input-number>
        </div>
      </el-form-item> -->
      <el-form-item>
        <el-checkbox v-model="form.sos">For Sos ?</el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="form.deliverable">For Delivery ?</el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-checkbox v-model="form.bookable">Has Booking ?</el-checkbox>
      </el-form-item>
      <el-form-item label="Date Range">
        <div class="el-input">
          <el-checkbox v-model="form.allTime">All Time</el-checkbox>

          <el-form-item label="Dates" v-if="!form.allTime">
            <el-date-picker
              v-model="dates"
              type="daterange"
              range-separator="To"
              start-placeholder="Start date"
              end-placeholder="End date"
            ></el-date-picker>
          </el-form-item>
        </div>
      </el-form-item>
    </el-form>
    <div v-if="step === 1">
      <div>
        <h4>Discount For All Memberships</h4>
        <el-row>
          <el-col span="16">
            <el-input-number
              class="w-100"
              v-model="discountAll"
              :min="0"
              :max="discountTypeAll == 'cash' ? 100000 : 100"
              :step="discountTypeAll == 'cash' ? 5 : 0.5"
              size="large"
            ></el-input-number>
          </el-col>
          <el-col span="8" style="text-align: center">
            <el-select v-model="discountTypeAll">
              <el-option label="Cash" value="cash"></el-option>
              <el-option label="Percentage" value="percentage"></el-option>
            </el-select>
          </el-col>
        </el-row>

        <hr />
      </div>

      <el-table
        ref="multipleTable"
        :data="cardTypes"
        style="width: 100%"
        @select="handleRowSelectionChange"
        @select-all="handleSelectionChange"
      >
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column label="Membership Name">
          <template slot-scope="scope">{{ scope.row.name }}</template>
        </el-table-column>
        <el-table-column label="Packages">
          <template slot-scope="scope">
            <el-checkbox
              v-for="(p, index) in scope.row.packages"
              :key="p.id"
              :disabled="!cardTypes[scope.$index].selected"
              v-model="cardTypes[scope.$index].packages[index].selected"
              >{{ p.name }}</el-checkbox
            >
          </template>
        </el-table-column>
        <el-table-column label="Discount">
          <template slot-scope="scope">
            <el-input-number
              v-model="scope.row.discount"
              :min="0"
              :max="scope.row.discount_type == 'cash' ? 100000 : 100"
              :step="discountTypeAll == 'cash' ? 5 : 0.5"
            ></el-input-number>
          </template>
        </el-table-column>
        <el-table-column label="Discount Type">
          <template slot-scope="scope">
            <el-select v-model="scope.row.discount_type">
              <el-option label="Cash" value="cash"></el-option>
              <el-option label="Percentage" value="percentage"></el-option>
            </el-select>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="close" :disabled="loading">Cancel</el-button>
      <el-button @click="step = 0" v-if="step === 1" :disabled="loading"
        >Back</el-button
      >
      <el-button type="primary" @click="process" :loading="loading">{{
        button_label
      }}</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { get as CardTypesGet } from "@/api/card-type";
import { get, remove, create, update, notify } from "@/api/offer";

import MerchantSelector from "@/components/common/MerchantSelector.vue";
import BranchSelector from "@/components/common/BranchSelector.vue";
export default {
  components: {
    MerchantSelector,
    BranchSelector,
  },
  props: {
    editMode: {
      type: Boolean,
      default: false,
    },
    offer: {
      type: Object,
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      loadingCardTypes: true,
      cardTypes: [],
      branch_ids: [],
      discountAll: 50,
      discountTypeAll: "percentage",
      logo: null,
      logoDirty: false,
      merchant_id: null,
      dates: [],
      form: {
        title: "",
        description: "",
        allTime: true,
        sos: false,
        deliverable: false,
        bookable: false,
        repeated_times: 1,
        service_time: 30,
        user_per_time: 1,
      },
      step: 0,
      selectionDirty: false,
    };
  },
  watch: {
    discountAll(val) {
      this.cardTypes.forEach((card) => {
        card.discount = val;
      });
    },
    discountTypeAll(val) {
      this.cardTypes.forEach((card) => {
        card.discount_type = val;
      });
    },
  },
  computed: {
    button_label() {
      if (this.step === 0) {
        return "Next";
      }

      if (this.editMode) {
        return this.loading ? "Editing..." : "Edit";
      }

      return this.loading ? "Creating" : "Create";
    },
  },
  methods: {
    close() {
      this.$emit("closed");
    },
    setLogo(logo) {
      this.logoDirty = true;

      this.logo = {
        ...logo,
        url: URL.createObjectURL(logo.raw),
      };
    },
    removeLogo() {
      this.logo = null;
    },
    process() {
      if (this.step === 0) {
        this.step++;

        this.$nextTick(() => {
          this.cardTypes.forEach((row) => {
            this.$refs.multipleTable.toggleRowSelection(row, row.selected);
          });
        });

        return;
      }

      this.loading = true;
      this.editMode ? this.update() : this.create();
    },
    loadCards() {
      CardTypesGet({ with: "packages", has: "packages" }).then((data) => {
        data.map((card) => {
          let selected = true;

          let preSelected = null;

          if (this.editMode) {
            preSelected = this.offer.discounts.find(
              (d) => d.card_type_id == card.id
            );
          }
          card.selected = !!preSelected;

          card.discount =
            this.editMode && preSelected ? preSelected.discount : 50;
          card.discount_type =
            this.editMode && preSelected
              ? preSelected.discount_type
              : "percentage";

          card.packages.map((p) => {
            if (this.editMode) {
              if (preSelected) {
                p.selected = this.offer.discounts
                  .filter((d) => d.card_type_id == card.id)
                  .map((c) => c.package_id)
                  .includes(p.id);
              } else {
                p.selected = false;
              }
            } else {
              p.selected = true;
            }

            return p;
          });
        });
        this.loadingCardTypes = false;

        this.cardTypes = data;
      });
    },

    handleSelectionChange(selection) {
      this.cardTypes.forEach((card) => {
        card.selected = !!selection.length;
      });
    },
    handleRowSelectionChange(selection, row) {
      let index = this.cardTypes.findIndex((card) => card.id === row.id);
      if (index !== -1) {
        this.cardTypes[index].selected = !row.selected;
      }
    },
    async uploadCover() {
      const ref = this.$firebase
        .storage()
        .child(`offers/covers/${this.logo.name}`);

      await ref.put(this.logo.raw);

      return await ref.getDownloadURL();
    },
    async create() {
      this.loading = true;

      const discounts = this.cardTypes
        .filter((cardType) => cardType.selected)
        .map((cardType) => {
          const p = cardType.packages
            .filter((c) => c.selected)
            .map((c) => c.id);
          if (p.length) {
            return {
              discount: cardType.discount,
              discount_type: cardType.discount_type,
              card_type_id: cardType.id,
              packages_ids: p,
            };
          } else {
            return false;
          }
        })
        .filter((x) => x);
      const requestData = {
        ...this.form,
        merchant_id: this.merchant_id,
        branch_ids: this.branch_ids,
        discounts,
      };

      if (!this.form.allTime) {
        requestData["start_date"] = new Date(this.dates[0]).toDateString();
        requestData["end_date"] = new Date(this.dates[1]).toDateString();
      }

      if (this.logo) {
        const logo = await this.uploadCover();

        requestData["cover"] = logo;
      }

      create(requestData)
        .then((data) => {
          data.merchants_count = 0;

          this.$emit("created", data);

          this.loading = false;

          if (!this.form.sos) {
            notify(data.id);
          }

          this.close();

          this.$message({
            message: "New offer Added",
            type: "success",
          });
        })
        .catch((_) => {
          this.loading = false;
        });
    },
    async update() {
      this.loading = true;

      const discounts = this.cardTypes
        .filter((cardType) => cardType.selected)
        .map((cardType) => {
          const p = cardType.packages
            .filter((c) => c.selected)
            .map((c) => c.id);
          if (p.length) {
            return {
              discount: cardType.discount,
              discount_type: cardType.discount_type,
              card_type_id: cardType.id,
              packages_ids: p,
            };
          } else {
            return false;
          }
        })
        .filter((x) => x);
      const requestData = {
        ...this.form,
        merchant_id: this.merchant_id,
        branch_ids: this.branch_ids,
        discounts,
      };

      if (!this.form.allTime) {
        requestData["start_date"] = new Date(this.dates[0]).toDateString();
        requestData["end_date"] = new Date(this.dates[1]).toDateString();
      }

      if (this.logo && this.logoDirty) {
        const logo = await this.uploadCover();

        requestData["cover"] = logo;
      }

      update(this.offer.id, requestData)
        .then((data) => {
          this.$emit("updated", data);

          this.loading = false;
          this.close();

          this.$message({
            message: "Offer Updated",
            type: "success",
          });
        })
        .catch((_) => {
          this.loading = false;
        });
    },
  },
  mounted() {
    this.loadCards();

    if (this.editMode) {
      this.form.title = this.offer.title;
      this.form.description = this.offer.description;

      this.form.sos = Boolean(this.offer.sos);
      this.form.deliverable = Boolean(this.offer.deliverable);
      this.form.bookable = Boolean(this.offer.bookable);
      this.form.allTime = Boolean(this.offer.allTime);
      this.form.discount_type = this.offer.discount_type;
      this.form.service_time = this.offer.service_time;
      this.form.user_per_time = this.offer.user_per_time;
      this.logo = { url: this.offer.cover };

      this.dates = [this.offer.start_date, this.offer.end_date];

      this.merchant_id = this.offer.merchant.id;

      this.branch_ids = this.offer.branches.map((b) => b.id);
    }
  },
};
</script>