<template>
  <div class="dashboard-container">
    <panel-group></panel-group>

    <el-row
      v-loading="merchantsloading"
      style="background:#fff;padding:16px 16px 0;margin-bottom:32px;"
    >
      <line-chart :chart-data="merchantsChartData" />
    </el-row>
    <el-row
      v-loading="salesLoading"
      style="background:#fff;padding:16px 16px 0;margin-bottom:32px;"
    >
      <line-chart :chart-data="salesChartData" />
    </el-row>
    <el-row
      v-loading="cardsLoading"
      style="background:#fff;padding:16px 16px 0;margin-bottom:32px;"
    >
      <line-chart :chart-data="cardsChartData" />
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import PanelGroup from "@/components/PanelGroup";
import LineChart from "@/components/LineChart";
import { overmonths as sales } from "@/api/sales";
import { overmonths as merchants } from "@/api/merchants";
import { overmonths as cards } from "@/api/card";
export default {
  name: "Dashboard",
  data() {
    return {
      merchantsloading: true,
      salesLoading: true,
      cardsLoading: true,
      merchantsChartData: {
        name: "merchants",
        data: []
      },
      salesChartData: {
        name: "sales",

        data: []
      },
      cardsChartData: {
        name: "cards",

        data: []
      }
    };
  },

  created() {
    merchants().then(data => {
      this.merchantsChartData.data = data;

      this.merchantsloading = false;
    });

    sales().then(data => {
      this.salesChartData.data = data;

      this.salesLoading = false;
    });
    cards().then(data => {
      this.cardsChartData.data = data;

      this.cardsLoading = false;
    });
  },

  components: {
    PanelGroup,
    LineChart
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
