<template>
  <div class="app-container">
    <el-card shadow="never">
      <el-row slot="header">
        <el-col :span="18">
          <el-pagination
            class="mt-1"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page.sync="filters.page"
          ></el-pagination>
        </el-col>
      </el-row>
      <el-table stripe       @sort-change="changeSort" :data="orders" style="width: 100%" v-loading="loadingDate">
        <el-table-column label="Created At">
          <template slot-scope="scope">
            <i class="el-icon-time"></i>
            {{ (new Date(scope.row.created_at)).toLocaleString() }}
          </template>
        </el-table-column>

        <el-table-column label="offer">
          <template slot-scope="scope">{{ scope.row.offer.title }}</template>
        </el-table-column>
        <el-table-column label="User">
          <template slot-scope="scope">{{ scope.row.user.fullname }}</template>
        </el-table-column>
        <el-table-column label="Merchant">
          <template slot-scope="scope">{{ scope.row.merchant.fullname }}</template>
        </el-table-column>
        <el-table-column property="status" label="Status" sortable>
          <template slot-scope="scope">{{ scope.row.status }}</template>
        </el-table-column>
        <el-table-column  label="Location">
          <template slot-scope="scope">
             <el-button type="primary" @click="showLocation(scope.row)">
               show location
             </el-button>
          </template>
        </el-table-column>

        <el-table-column label="Change Status">
          <template slot-scope="scope">

                 <el-select
    :value="scope.row.status"
    class="w-100"
    @change="e => changeStatus(e , scope.row)"
  >
    <el-option
      v-for="status in ['requested' , 'preparing' , 'shipped' , 'delivered']"
      :key="status"
      :label="status"
      :value="status"
    ></el-option>
  </el-select>

          </template>
        </el-table-column>

      </el-table>
    </el-card>


  </div>
</template>

<script>
import { get,update } from "@/api/orders";


export default {

  data() {
    return {
      orders: [],
      total: 0,
      loadingDate: true,
      currentEditOrder:null,
      filters: {
           with:"offer,user,merchant",
        paginate: 10,
        page: 1
      },
                orderBy: {
        key: "",
        order: ""
      },
    };
  },
    watch: {
    filters: {
      handler: function() {
        this.next();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    next() {
      this.loadingDate = true;

      const filters = {
           ...this.filters
      }

      
   if (this.orderBy.key != "") {
        filters.orderBy = this.orderBy.key + "," + this.orderBy.order;
      }
      get(filters).then(({ total, data, current_page }) => {
        this.orders = data;

        this.total = total;

        this.filters.page = current_page;

        this.loadingDate = false;
      });
    },
    changeStatus(e , order){
      
      order.status = e;

       update({id : order.id , status:e});

       
          this.$message({
            message: "Order Status Updated",
            type: "success"
          });
    },
        changeSort(e) {
      this.orderBy.key = e.prop;
      this.orderBy.order = e.prop.order === "descending" ? "desc" : "asc";

      this.next();
    },
    showLocation(order){

      window.open(`https://maps.google.com?q=${order.lat},${order.lng}` , '_blank')
    }
  },
};
</script>